﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="717031547264-1ohh8jsngpau2566pk65opgj3mleum8g.apps.googleusercontent.com">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    @*<link href="~/Content/css/footer-distributed-with-address-and-phones.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/css/stylebundle")
    @Styles.Render("~/Content/bundles")
    @Scripts.Render("~/bundles/Content/js")
    <script>
    $(window).scroll(function () {
        if (($(this).scrollTop() > 100)) {
            $("#nav").addClass('fixed')
        }

        else {
            $("#nav").removeClass('fixed')
        }
    });
    </script>

    <script>
        window.onbeforeunload = function (e) {
            gapi.auth2.getAuthInstance().signOut();
        };

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut();//.then(function () {
            //    console.log('User signed out.');
            //});
        }
    </script>

</head>

<body>
    <section class="top-bar dhomev">
        <div class="container">
            <div class="pull-left left-infos contact-infos">
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-phone"></i> (+44) 555 890767</a>
                    </li>
                    <!-- comment for inline hack
                    -->

                </ul>
            </div><!-- /.pull-left left-infos -->
            <div class="pull-right right-infos link-list">
                @if (Session["userDetail"] != null)
                {
                    <ul class="list-inline">
                        <li>Hello,@(((TrueWheels.Web.Models.UserLoginDetailsViewModel)(Session["userDetail"])).User_Name)</li>
                        <li>@Html.ActionLink("Logout", "LogOff", "TrueWheelsUser")</li>

                    </ul>
                }
                else
                {
                    <ul class="list-inline">
                        <li>
                            <a data-wow-delay="0.8s" onclick="location.href= '@Url.Action("Login", "TrueWheelsUser")'">Login</a>
                        </li>

                        <li>
                            <a data-wow-delay="0.6s" onclick="location.href= '@Url.Action("SignUp", "TrueWheelsUser")'">Signup</a>
                        </li>
                    </ul>

                }

            </div><!-- /.pull-right right-infos link-list -->
        </div><!-- /.container -->
    </section><!-- /.top-bar -->
    <div class="header-connect">

        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8 col-xs-8">

                </div>
                <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-3  col-xs-offset-1">


                </div>
            </div>
        </div>
    </div>
    <nav class="navbar" id="nav">
        <div class="container">
            <div class="col-md-3">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")" style="padding-top:5px">
                    @*<img src="~/Content/img/DhiyaaishanbummiJPEG.jpg" class="img-responsive img-rounded">*@
                    <img src="~/Content/img/logo2.png" alt="" class="img-responsive img-rounded">
                    @*<img src="~/Content/img/DhiyaaishanbummiPNG.png" alt="" class="img-responsive img-rounded" />*@
                </a>
            </div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                    <div class="collapse navbar-collapse ">

                        <ul class="main-nav nav navbar-nav navbar-right">
                            <li class="wow fadeInDown active">@Html.ActionLink("Home", "Index", "Home")</li>
                            @*<li class="wow fadeInDown disabled" data-wow-delay="0.1s"><a   href="@Url.Action("CreateSpace", "RentSpace")" >Rent out ur space</a></li>*@
                            <li class="wow fadeInDown">

                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </nav>
    <!-- <div class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
             <div class="navbar-header">

                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
                 @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
             </div>

         </div>
     </div>-->
    @RenderBody()
    @RenderSection("scripts", required: false)
    <div class="">


    </div>
    <footer>
        <section class="clearfix footer-wrapper">
            <section class="container clearfix footer-pad">

                <div class="widget about-us-widget col-md-4 col-sm-6">


                    <p>Lorem ipsum dolor sit amet, consecte- tur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                    <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>


                </div>


                <div class="widget widget-links col-md-2 col-sm-6">
                    @*<h4 class="widget_title">Explore</h4>
                        <div class="widget-contact-list">
                            <ul>
                                <li><a href="">Activities</a></li>
                                <li><a href="">Gallery</a></li>
                                <li><a href="">Aminities</a></li>
                                <li><a href="">Single Room</a></li>
                                <li><a href="">Testimonials</a></li>
                                <li><a href="">Dinning</a></li>
                                <li><a href="">offers</a></li>

                            </ul>
                        </div>*@
                </div>
                <div class="widget widget-links col-md-2 col-sm-6">
                    @*<h4 class="widget_title">Quick Links</h4>*@


                    @*<div class="widget-contact-list">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">About Us</a></li>
                            <li><a href="">suits & Rooms</a></li>
                            <li><a href="">News</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">Booking</a></li>
                            @*<li><a href="">FAQ</a></li>*@

                   s

                    @*</ul>*@

                </div>
                <div class="widget get-in-touch col-md-4 col-sm-6">
                    <h4 class="widget_title">Get In Touch</h4>
                    <div class="widget-contact-list">
                        <ul>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <div class="fleft location_address">
                                    <b>Lake Resort</b><br>Lorance 542B, Tailstoi Town 5248 MT, Wordwide Country
                                </div>

                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <div class="fleft contact_no">
                                    <a href="tel:+018655248503">+ 01865 524 8503</a>  /  <a href="tel:+12549547854">1254 954 7854</a>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <div class="fleft contact_mail">
                                    <a href="mailto:info@resorthotel.com">info@resorthotel.com</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </section>
        </section>
        <section class="container clearfix footer-b-pad">
            <div class="footer-copy">
                <div class="fo-txt text-center">
                    <p class="footer-company-name">Copyright ©@DateTime.Now.Year - Ganeis. All rights reserved.</p>

                </div>


            </div>
        </section>
    </footer>

    <!--Scroll to top-->
    <div class="scroll-to-top"><span class="fa fa-arrow-up"></span></div>
</body>
</html>
