﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="717031547264-1ohh8jsngpau2566pk65opgj3mleum8g.apps.googleusercontent.com">
    <title>@ViewBag.Title TrueWheels</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    

    @*<link href="~/Content/css/footer-distributed-with-address-and-phones.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/css/stylebundle")
    @Styles.Render("~/Content/bundles")
    @Scripts.Render("~/bundles/Content/js")
    @*<script>

        $(window).scroll(function () {
            if ($(this).scrollTop() > 1) {
                $('#ccsticky-nav').addClass("fixed");
            }
            else {
                $('#ccsticky-nav').removeClass("fixed");
            }
        });
    </script>*@
    @*<script>

        $(window).scroll(function () {
            if ($(this).scrollTop() > 1) {
                $('#ccsticky-nav').addClass("fixed");
            }
            else {
                $('#ccsticky-nav').removeClass("fixed");
            }
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 800, function () {
            }
            );

        });
    </script>*@
    <script>
        window.onbeforeunload = function (e) {
            gapi.auth2.getAuthInstance().signOut();
        };

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut();//.then(function () {
            //    console.log('User signed out.');
            //});
        }
    </script>
    <style>
        nav ul li {
            list-style: none;
        }

            nav ul li a {
                text-decoration: none;
            }

        .active {
        }
    </style>
    @*<link href="~/Content/css/style3.css" rel="stylesheet" />*@
</head>

<body>
    
    <section class="top-bar dhomev">
        <div class="container">
            <div class="pull-left left-infos contact-infos">
                <ul class="list-inline">
                    @*<li>
                            <a href="#"><i class="fa fa-phone"></i> (+44) 555 890767</a>
                        </li>*@
                    <!-- comment for inline hack
                    -->

                </ul>
            </div><!-- /.pull-left left-infos -->
            <div class="pull-right right-infos link-list">
                @if (Session["userDetail"] != null)
                {
                    <div class="top-right">
                        <a class="modal-view button">Hello,@(((TrueWheels.Web.Models.UserLoginDetailsViewModel)(Session["userDetail"])).User_Name) &nbsp;|&nbsp;</a>
                        <a class="modal-view button">@Html.ActionLink("Logout", "LogOff", "TrueWheelsUser")</a>
                    </div>
                    @*<ul class="list-inline">
                            <li>Hello,@(((TrueWheels.Web.Models.UserLoginDetailsViewModel)(Session["userDetail"])).User_Name)</li>
                            <li>@Html.ActionLink("Logout", "LogOff", "TrueWheelsUser")</li>

                        </ul>*@
                }
                else
                {
                    <div>
                        <div class="top-right">
                            <a class="modal-view button" onclick="location.href= '@Url.Action("Login", "TrueWheelsUser")'">Login / </a>
                            <a class="modal-view button" onclick="location.href= '@Url.Action("SignUp", "TrueWheelsUser")'">Register</a>
                        </div>
                    </div>
                    @*<ul class="list-inline">
                            <li class="list11">
                                <a  data-wow-delay="0.8s" onclick="location.href= '@Url.Action("Login", "TrueWheelsUser")'">Login</a>
                            </li>

                                <li class="list11">
                                    <a data-wow-delay="0.6s" onclick="location.href= '@Url.Action("SignUp", "TrueWheelsUser")'">Signup</a>
                                </li>
                        </ul>*@
                    @*<div class="button navbar-right">
                            <button class="navbar-btn nav-button wow bounceInRight login" data-wow-delay="0.8s" onclick="location.href= '@Url.Action("Login", "TrueWheelsUser")'">Login</button>
                            <button class="navbar-btn nav-button wow fadeInRight" data-wow-delay="0.6s" onclick="location.href= '@Url.Action("SignUp", "TrueWheelsUser")'">Sign up</button>
                        </div>*@
                }
                @*<ul class="list-inline">
                        <li>
                            <a   onclick="location.href= '@Url.Action("Login", "TrueWheelsUser")'">Login</a>
                        </li>

                        <li>
                            <a   onclick="location.href= '@Url.Action("SignUp", "TrueWheelsUser")'">Signup</a>
                        </li>
                    </ul>*@
            </div><!-- /.pull-right right-infos link-list -->
        </div><!-- /.container -->
    </section><!-- /.top-bar -->
    @*<div class="header-connect">*@
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8 col-xs-8">
                    @*<div class="header-half header-call">
                            <p>
                                @if (Session["userDetail"] != null)
                                {
                                    if (((TrueWheels.Web.Models.UserLoginDetailsViewModel)(Session["userDetail"])).User_ID == "0")
                                    {
                                        <span><i class="icon-cloud"></i>Mobile_number</span>
                                        <span><i class="icon-mail"></i>EmailId</span>
                                    }
                                    else
                                    {
                                        <span><i class="icon-cloud"></i>@(((TrueWheels.Web.Models.UserLoginDetailsViewModel)(Session["userDetail"])).Phone_No1)</span>
                                        <span><i class="icon-mail"></i>@(((TrueWheels.Web.Models.UserLoginDetailsViewModel)(Session["userDetail"])).Email_Id)</span>
                                    }
                                }
                                else
                                {
                                    <span><i class="icon-cloud"></i>Mobile_number</span>
                                    <span><i class="icon-mail"></i>EmailId</span>
                                }
                            </p>
                        </div>*@
                </div>
                <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-3  col-xs-offset-1">
                    @*<div class="header-half header-social">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-vine"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>*@

                </div>
            </div>
        </div>
    </div>


    @*<div id="ccsticky-nav">
        <header id="navigation" class=" navbar-fixed-top animated-header" style="top:none !important;">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                       
                        <i class="fa fa-bars" aria-hidden="true" style="color:white; font-size:18px;"></i>

                    </button>



                    <h1 class="navbar-brand">
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")" style="padding-top:5px">

                            <img src="~/Content/img/logo2.png" alt="" class="img-responsive img-rounded">

                        </a>
                    </h1>

                </div>

                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul class="nav navbar-nav">
                        <li class="menu  ">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>
                            @if (Session["userDetail"] != null)
                            {
                                <a class="menu" href="@Url.Action("Index", "UserDashBaord")">Dashboard</a>

                            }
                            else
                            {
                                <a class="menu" href="@Url.Action("Login", "TrueWheelsUser")">Dashboard</a>
                            }
                        </li>

                        <li><a class="menu" href="#divHowitworks" style="cursor:pointer">How it works</a></li>

                        <li><a class="menu" href="@Url.Action("PopularParking", "Home")">Popular Parking</a></li>
                        <li><a href="#about" style="cursor:pointer">About us</a></li>
                        <li><a class="menu" href="#contact" style="cursor:pointer">Contact Us</a></li>
                    </ul>
                </nav>


            </div>
        </header>
    </div>*@
    <nav id="mainmenu" class="mainmenu-area">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navMenu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars" aria-hidden="true" style="color:white; font-size:15px;"></i>

                    @*<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>*@
                </button> 
                @*<a class="navbar-brand" href="index-2.html">
                    <div class="logo">neon</div>
                </a>*@
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">

                    <img src="~/Content/img/logo2.png" alt="logo" title="logo" class="img-responsive img-rounded">

                </a>
            </div>
          
            <div class="collapse navbar-collapse" id="navMenu" style="z-index:2">
                <ul class="nav navbar-nav navbar-right">
                    @*<li class="active"><a href="#home">home</a></li>*@
                    <li class="active"> @Html.ActionLink("Home", "Index", "Home")</li>

                    <li>
                        @if (Session["userDetail"] != null)
                        {
                            <a href="@Url.Action("Index", "UserDashBaord")">Dashboard</a>

                        }
                        else
                        {
                            <a href="@Url.Action("Login", "TrueWheelsUser")">Dashboard</a>
                        }
                    </li>
                    @*<li><a href="#about">About us</a></li>*@
                    <li><a href="javascript:void(0)" onclick="AboutUs()">About us</a></li>
                    <li><a href="@Url.Action("PopularParking", "Home")">Popular Parking</a></li>
                    @*<li><a href="#divHowitworks">How it works</a></li>*@
                    <li><a href="javascript:void(0)" onclick="HowItWorks()">How it works</a></li>
                    @*<li><a href="#contact">contact Us</a></li>*@
                    <li><a href="javascript:void(0)" onclick="ContactUs()">contact Us</a></li>
                    <li><img src="~/Content/img/google_play.png" class="playbtn" alt="" title="" style="width:110px;" /></li> 




                   
                </ul>
            </div>
        </div>
    </nav>
    
    @*<header class="main-header">

        <div class="k-nav all-light">
            <div class="k-nav-toggle"><span></span></div>
            <div class="k-nav-outside container">
                <div class="k-nav-inside">
                
                    <a class=" k-nav-logo" href="@Url.Action("Index", "Home")">
                        <img src="~/Content/img/logo2.png" alt="" class="img-responsive img-rounded">

                    </a>
                    <ul class="k-nav-links">
                        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>
                            @if (Session["userDetail"] != null)
                            {
                                <a  href="@Url.Action("Index", "UserDashBaord")">Dashboard</a>

                            }
                            else
                            {
                                <a  href="@Url.Action("Login", "TrueWheelsUser")">Dashboard</a>
                            }
                        </li>
                        <li><a data-nav-to="#about" href="#" style="cursor:pointer">About us</a></li>
                       

                        <li><a  href="@Url.Action("PopularParking", "Home")">Popular Parking</a></li>
                        <li><a data-nav-to="#Howitworks" href="#" style="cursor:pointer">How it works</a></li>
                        <li><a data-nav-to="#contact" href="#" style="cursor:pointer">Contact Us</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </header>*@
    
    <!-- <div class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
             <div class="navbar-header">

                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
                 @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
             </div>
             <div class="navbar-collapse collapse">
                 <ul class="nav navbar-nav">
                     <li>@Html.ActionLink("Home", "Index", "Home")</li>
                     <li>@Html.ActionLink("About", "About", "Home")</li>
                     <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                 </ul>
             </div>
         </div>
     </div>-->
    @RenderBody()
    @RenderSection("scripts", required: false)
    <div class="">
        @*<footer class="fadeInDown">*@
        @*<p>&copy; @DateTime.Now.Year - Ganeis</p>
                </p>
            </footer>*@
        @*<footer class="footer-distributed">

                <div class="footer-left">

                    <h3>Company<span>logo</span></h3>

                    <p class="footer-links">
                        <a href="#">Home</a>
                        ·
                        <a href="#">Blog</a>
                        ·
                        <a href="#">Pricing</a>
                        ·
                        <a href="#">About</a>
                        ·
                        <a href="#">Faq</a>
                        ·
                        <a href="#">Contact</a>
                    </p>

                    <p class="footer-company-name">@DateTime.Now.Year - Ganeis</p>
                </div>

                <div class="footer-center">

                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p><span>21 Revolution Street</span> Paris, France</p>
                    </div>

                    <div>
                        <i class="fa fa-phone"></i>
                        <p>+1 555 123456</p>
                    </div>

                    <div>
                        <i class="fa fa-envelope"></i>
                        <p><a href="mailto:support@company.com">support@company.com</a></p>
                    </div>

                </div>

                <div class="footer-right">

                    <p class="footer-company-about">
                        <span>About the company</span>
                        Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                    </p>

                    <div class="footer-icons">

                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>

                    </div>

                </div>

            </footer>*@
    </div>
    <footer>
        <section class="clearfix footer-wrapper">
            <section class="container clearfix footer-pad">

                @*<div class="widget about-us-widget col-md-4 col-sm-6">


                    <p style="text-align:justify !important">
                        True Wheels are set up by a bunch of young, enthusiastic IT graduates
                        based in the capital city New Delhi. True Wheels up with solution to get
                        a vacant parking for you near to your house or office. True Wheels are
                        the smart solutins for navigating the user to its closest location.
                    </p>
                    <a href="#about">Read More <i class="fa fa-angle-double-right"></i></a>
                    <ul class="nav1">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                        </ul>

                </div>*@


                <div class="widget widget-links col-md-3 col-sm-6">
                    <h4 class="widget_title">Explore</h4>
                    <div class="widget-contact-list">
                        <ul>
                            <li><a href="javascript:void(0)" onclick="AboutUsFooter()"> About Us</a></li>

                            <li> <a href="javascript:void(0)" onclick="HowItWorksFooter()">  How It works</a></li>

                            <li><a href="javascript:void(0)" onclick="ContactUsFooter()"> Contact Us</a></li>
                            
                            <li>  <a href="@Url.Action("Ourteam", "Home")">Our team </a></li>
                           
                             
                            <li>
                                <a href="@Url.Action("DrivingRules", "Home")" target="_blank">Driving rules</a></li>

    @*<li> <a href="#">   Download our App</a></li>*@




</ul>
                    </div>
                </div>
                <div class="widget widget-links col-md-3 col-sm-6">
                    <h4 class="widget_title">Quick Links</h4>


                    <div class="widget-contact-list">
                        <ul>
                         
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li> <a onclick="location.href= '@Url.Action("Login", "TrueWheelsUser")'">Login  </a></li>
                           <li> <a  onclick="location.href= '@Url.Action("SignUp", "TrueWheelsUser")'">Register</a></li>
                           
                           
                                
                            <li><a href="@Url.Action("PopularParking", "Home")">Popular Parkings</a></li>
                                
                            <li><a href="@Url.Action("TermsCondition", "TrueWheelsUser")">Terms and Condition</a>  </li>
                               
                            @*<li>  <a href="@Url.Action("FAQ", "Home")">FAQ </a></li>*@
                            <a href="@Url.Action("FAQ", "Home")" target="_blank">FAQ</a>
                               


                            


</ul>
                    </div>
                </div>
                <div class="widget get-in-touch col-md-3 col-sm-6">
                    <h4 class="widget_title">Get In Touch</h4>
                    <div class="widget-contact-list">
                        <ul>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <div class="fleft location_address">
                                    <b>B/206,</b><br>Duggal Colony,New Dehi,India
                                </div>

                            </li>
                            @*<li>
                                    <i class="fa fa-phone"></i>
                                    <div class="fleft contact_no">
                                        <a href="tel:+018655248503">+ 01865 524 8503</a>  /  <a href="tel:+12549547854">1254 954 7854</a>
                                    </div>
                                </li>*@
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <div class="fleft contact_mail">
                                    <a href="mailto:truewheels.2016@gmail.com">truewheels.2016@gmail.com</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="widget widget-links col-md-3 col-sm-6">
                    <h4 class="widget_title">Download The App</h4>

                    <p style="text-align:left !important">
                        <img src="~/Content/img/google_play.png" alt="" title="" style="width:200px;" />
                       
                    </p>
                  


                </div>


            </section>
        </section>
        <section class="container clearfix footer-b-pad">
            <div class="footer-copy">
                <div class="fo-txt text-center">
                    <p class="footer-company-name">Copyright ©@DateTime.Now.Year - True Wheels. All rights reserved.</p>

                </div>


            </div>
        </section>
    </footer>

    <!--Scroll to top-->
    <div class="scroll-to-top"><span class="fa fa-arrow-up"></span></div>
    <script src="~/Content/js/jquery.nav.js"></script>
    <script src="~/Content/js/jquery.sticky.js"></script>
    <script src="~/Content/js/active.js"></script>

  
    @*<script src="~/Content/js/minified.js"></script>
    <script src="~/Content/js/main1.js"></script>*@

    @*<script>
        $(document).ready(function () {
            $('ul li').click(function () {
                $('li').removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>*@



</body>
</html>

<script type="text/javascript">
    function HowItWorks() {
        var newurl = "/#divHowitworks";
        location.href = window.location.origin + newurl;
    }

    function ContactUs() {
        var newurl = "/#contact";
        location.href = window.location.origin + newurl;
    }

    function AboutUs() {
        var newurl = "/#about";
        location.href = window.location.origin + newurl;
    }

    function HowItWorksFooter() {
        var newurl = "/#divHowitworks";
        location.href = window.location.origin + newurl;
    }

    function ContactUsFooter() {
        var newurl = "/#contact";
        location.href = window.location.origin + newurl;
    }

    function AboutUsFooter() {
        var newurl = "/#about";
        location.href = window.location.origin + newurl;
    }

</script>