﻿@Styles.Render("~/Content/Login/css/DashBoardInboxStyle")
<div id="divDisplayProfileInfo">
    <div id="divFollowUs" style="background-color:white;width:100%;margin:20px 20px 30px 20px;padding:10px 10px 0 0;display:none;">

        <div id="fb-root"></div>


        <div id="social" style="width:100%;">

            @*<div class="fb-like" data-href="https://www.facebook.com/ourdreamsTW" data-width="300px" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>


            *@


            <div class="row">
               
                <div class="col-md-5">
                    <div class="fb-page" data-href="https://www.facebook.com/True-Wheels-562259090637942/" data-tabs="timeline" data-width="350px" data-height="415px" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/True-Wheels-562259090637942/" class="fb-xfbml-parse-ignore">
    <a href="https://www.facebook.com/True-Wheels-562259090637942/">True Wheels</a>
</blockquote></div>

                </div>
                <div class="col-md-1"> </div>
                <div class="col-md-5">

                <div style="position:absolute; padding:10px;">
                        <a href="https://twitter.com/truewheels1" class="twitter-follow-button" data-show-count="false">Follow @@Truewheels</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                    <div style="width:350px;height:400px; overflow-y: scroll; margin-top:20px;">
                        <a class="twitter-timeline" href="https://twitter.com/truewheels1">Tweets by True Wheels</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>



                </div>
                <div class="col-md-1"> </div>
            </div>



        </div>
    </div>
    </div>
    <script>

        $(document).ready(function () {
            $("#divFollowUs").show("fast");
        })

    </script>
