﻿@model List<TrueWheels.BEL.UserInboxBEL>

@Styles.Render("~/Content/Login/css/DashBoardInboxStyle")
<div id="divDisplayProfileInfo">



    <span id="divFollowUs2">Inbox</span>




    <div id="divFollowUs3">
        <table>
            <colgroup>
                <col />
                <col />
                <col />
                <col />
                <col />
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">Sl No.</th>
                    <th style="width:100px" scope="col">Subject</th>
                    <th scope="col">Message</th>
                    <th scope="col">Date</th>

                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count != 0 && Model.FirstOrDefault().Notification_ID != 0)
                {
                    int i = 1;
                    foreach (var item in Model)
                    {

                        <tr>
                            <td>@i.ToString()</td>
                            <td>@item.Subject</td>
                            <td>@item.Message</td>
                            <td>@item.Dt_Created.ToString("dd MMM, yyyy hh:mm:ss tt")</td>
                            <td>    @Html.ActionLink("Delete", null, null, new { @id = "delete_" + item.Notification_ID, @title = item.Notification_ID, @class = "linkDelete" })</td>

                        </tr>
                        i++;
                    }

                }
            </tbody>
            <tfoot>
                @if (Model.FirstOrDefault().Notification_ID == 0)
                {
                    <tr>
                        <td colspan="5">
                            <div style="height:40px;margin-top:10px" class="noRecordsFound">--------------------------- There are no messages to be displayed! ---------------------------</div>
                        </td>
                    </tr>
                }
            </tfoot>
        </table>


    </div>


</div>




    <script>

        $(document).ready(function () {
            $("#divProfile").show("fast");

             $('[id^="delete_"]').on('click', (function (event) {
                    event.preventDefault();
                    var x = $(this).attr('title');
 
                         $.ajax({
                                    url: '@Url.Action("DeleteNotification")',
                                    type: 'POST',
                                    data: { id: x },
                                    success: function (names) {
                                        alert("Data Deleted Successfully.");
                                        $("#userprofile").html(names);
                                       
                                    },
                                    error: function (ex) {
                                        alert("Failed to retreive" + ex);
                                    }
                         });
                }));


        });
    </script>
