﻿<script src="http://connect.facebook.net/en_US/all.js"></script>
@Styles.Render("~/Content/Login/css/DashBoardInboxStyle")
<script>
    $(document).ready(function () {
        $("#divInviteFriends").show("fast");
    })

    

FB.init({
    appId: '1363381040409841',
cookie:true,
status:true,
xfbml:true
});

function FacebookInviteFriends()
{
FB.ui({
method: 'apprequests',
message: 'Invite your facebook friends'
});
}
</script>

<div id="divDisplayProfileInfo">
    <span id="divInviteFriends1">Invite Your Friends</span>
    <div>
        <div style="float:left" id="fb-root"></div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12"><input type="button" class="btn btn-raised btn-facebook btn-block" value="Invite friends from Facebook" style="padding:10px 10px !important" href='#' onclick="FacebookInviteFriends();" /></div>

            <div class="col-md-4 col-sm-12 col-xs-12"><input type="button" class=" btn btn-raised btn-google-plus btn-block" value="Invite contacts from Google+" style="padding:10px 10px !important" href='#' onclick="auth();" /></div>
            <div class="col-md-4 col-sm-12 col-xs-12"><input type="button" class=" btn btn-raised btn-invite btn-block" value="Invite contacts from Email" href="#" onclick="InviteFriendByEmail();" /></div>
        </div>

    </div>
    <div id="divEmails"></div>
    <div id="divtableresult"></div>
    <div id="divInviteEmail"></div>
</div>


    



