﻿@model TrueWheels.Web.Models.DashBaordViewModal
@{
    ViewBag.Title = "Invite Friend";
    Html.EnableClientValidation(true);
}
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


<div class="modal-title">
    <h2>Invite Friend</h2>
</div>
<br />
<div class="row-fluid"></div>
<div class="col-md-12">
    @*@using (@Html.BeginForm("SendEmailToGmailContacts", "UserDashBaord", FormMethod.Post, new { onsubmit = "return ClosePopUp();",data_success = "account.passwordChangeSuccessfull();" }))*@
    @using (Ajax.BeginForm("SendEmailInviteFriend", null, null, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure",  OnBegin = "return StartValidation();" }, new { @name = "SubmitContactUs" }))
    {
        @Html.ValidationSummary(true)
        <label>Enter friend Email Id</label> <div>@Html.TextBoxFor(x => Model.FriendEmailId, new { id = "txtEmail" })</div>
        @*@Html.ValidationMessageFor(x => Model.FriendEmailId)*@
        <input type="submit" value="Send" />
    }
    <div id="status-message"></div>
</div>
<script type="text/javascript">
    function OnSuccess(ajaxContext) {
        if (ajaxContext == true) {
            $('#status-message').html('Invitation mail sent succesfully.')

            setTimeout(function () {
                $("#divInviteEmail").dialog("close");
            }, 3000);
        }
        else {
            $('#status-message').html('An error has occured.Please try later.')
            setTimeout(function () {
                $("#divInviteEmail").dialog("close");
            }, 2000);
        }
    }

</script>
<script type="text/javascript">

    function ValidateEmail(email) {
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        return expr.test(email);
    };

    //$(document).ready(function () {
        //$('#btnValidate').click(function () {
    function StartValidation() {
            var sEmail = $('#txtEmail').val();
            if ($.trim(sEmail).length == 0) {
                alert('Please enter valid email address');
                e.preventDefault();
            }
            if (ValidateEmail(sEmail)) {
                return true;
            }
            else {
                alert('Invalid Email Address');
                e.preventDefault();
            }
        }
   // });
</script>