﻿@model TrueWheels.BEL.PersonalinfoBEL
@Styles.Render("~/Content/Login/css/DashBoardInboxStyle")

@{Html.EnableClientValidation(true);

}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<div id="divProfile">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">

    <div id="divProfileInfo">
        <div id="divDisplayProfileInfo">
            @*<div id="divDisplayProfileInfo">*@
            @Html.HiddenFor(m => m.userId)
            @Html.HiddenFor(m => m.fullName)
            @Html.HiddenFor(m => m.mobileNo)
            @Html.HiddenFor(m => m.password)
            @Html.HiddenFor(m => m.ownerAddress)
            @Html.HiddenFor(m => m.ownerVerificationStatus)
            @*<div class="floatRight">
                <a id="btnEditProfile" style="color:blue;cursor:pointer">Edit Profile</a>
            </div>*@
            <div class="row" style="padding-left: 15px;padding-bottom: 15px;">


                <div class="col-md-12 col-sm-12 col-xs-12 text-center profile-completion-section">
                    <div class="row">
                        <h6>Profile Completeness</h6>

                        <div class="progress progress-striped">
                            <div  id="percentageComplete" class="bar bar-info " ></div>
                        </div>
                        @*@Html.ActionLink("EditProfile", null, new { id = "EditProfile", @class = "btn-blue3" })*@
                        <a id="EditProfile" class="editbtn" style="cursor:pointer; ">Edit Profile</a>
                        <br />
                    </div>
                </div>

                @*<div class="col-sm-6" style="padding-left:20px;">
                    <div class="row">
                        <label class="col-xs-5 control-label">First Name:</label>
                        <div class="col-xs-7 controls">@Model.First_Name</div>



                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="row">
                        <label class="col-xs-5 control-label">Last Name:</label>
                        <div class="col-xs-7 controls">@Model.Last_Name</div>
                    </div>
                </div>*@
                <div class="col-md-12 col-sm-12 col-xs-12 profile-completion-section">

                    @*<div class="col-sm-12">
                        <div class="row">
                            <label class="col-xs-5 control-label">Email:</label>
                            <div class="col-xs-7 controls">@Model.Email_ID</div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <label class="col-xs-5 control-label">Alternate Email:</label>
                            <div class="col-xs-7 controls">@Model.Alternate_Email_Id</div>
                        </div>
                    </div>*@

                    <div class="col-md-12 col-sm-12 col-xs-12 dashboard-home">
                        <div class="row">
                            <label class="col-md-1 col-sm-12 col-xs-12 control-label">

                                <i class="fa fa-birthday-cake tooltip" aria-hidden="true">
                                    <span class="tooltiptext">Birthday</span>
                                </i>

                            </label>
                            <div class="col-md-9 col-sm-12 col-xs-12 controls">@Model.dob</div>
                            @*<div class="col-xs-7 controls">@Model.Personalinfo.DOB.ToString("dd MMM yyyy")</div>*@


                        </div>

                    </div>

                    @*<div class="col-sm-12">
                        <div class="row">
                            <label class="col-xs-5 control-label">Alternate Mobile:</label>
                            <div class="col-xs-7 controls">@Model.AlternateNo</div>
                        </div>
                    </div>*@

                    <div class="col-md-12 col-sm-12 col-xs-12 dashboard-home">
                        <div class="row">
                            <label class="col-xs-1 control-label">

                                <i class="fa fa-id-card tooltip" aria-hidden="true">
                                    <span class="tooltiptext">Driving License</span>
                                </i>
                            </label>
                            <div class="col-xs-9 controls">@Model.drivingLicense</div>
                            @*<label class="col-xs-6 control-label">Driving License:</label>
                            <div class="col-xs-6 controls">@Model.Driving_License</div>*@
                        </div>

                    </div>



                    <div class="col-md-12 col-sm-12 col-xs-12 dashboard-home">
                        <div class="row">
                            <label class="col-xs-1 control-label">
                                <i class="fa fa-columns tooltip" aria-hidden="true">
                                    <span class="tooltiptext">Vehicle Registration No.</span>
                                </i>

                                @*<i class="fa fa-columns" aria-hidden="true"></i>*@
                            </label>
                            <div class="col-xs-9 controls">@Model.panNo</div>
                            @*<div class="col-xs-6 controls">@Model.Pan_No</div>*@
                        </div>

                    </div>

                    @*<div class="col-sm-12">
                        <div class="row">
                            <label class="col-xs-5 control-label">Owner Address:</label>
                            <div class="col-xs-7 controls">@Model.Owner_Address</div>
                        </div>
                    </div>*@

                    <div class="col-md-12 col-sm-12 col-xs-12 dashboard-home">
                        <div class="row">
                            <label class="col-xs-1 control-label">

                                <i class="fa fa-columns tooltip" aria-hidden="true" >
                                    <span class="tooltiptext">Verification Status</span>
                                </i>
                            </label>
                            <div class="col-xs-9 controls">@Model.ownerVerificationStatus</div>
                        </div>

                    </div>

                </div>

            </div>
        </div>


    </div>

    <div id="divProfileInfo">
        <div id="divProfileInfoUpdate">
            @Html.HiddenFor(m => m.userId)

            @*<div class="floatRight">
                    <a id="btnEditProfile" style="color:blue;cursor:pointer">Edit Profile</a>
                </div>*@
            <div class="row" style="padding-left: 15px;padding-bottom: 15px;">
                <div class="col-sm-12 ">
                    <div class="row">
                        <a id="cancelEditProfile" class="editbtn pull-right">Cancel</a>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <label class="control-label profileEditLabel">First Name:</label>
                            @Html.TextBoxFor(m => m.firstName, new { @class = "profiletextbox form-control1 input-lg" })
                            @Html.ValidationMessageFor(m => m.firstName, null, new { @class = "validationMessageFor" })
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <label class="control-label profileEditLabel">Last Name:</label>
                            @Html.TextBoxFor(m => m.lastName, new { @class = "profiletextbox form-control1 input-lg" })
                            @Html.ValidationMessageFor(m => m.lastName, null, new { @class = "validationMessageFor" })
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <label class="control-label profileEditLabel">Email:</label>
                            @Html.TextBoxFor(m => m.emailID, new { @class = "profiletextbox form-control1 input-lg" })
                            @Html.ValidationMessageFor(m => m.emailID, null, new { @class = "validationMessageFor" })
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <label class="control-label profileEditLabel">Alternate Email:</label>
                            @Html.TextBoxFor(m => m.alternateEmailId, new { @class = "profiletextbox form-control1 input-lg" })
                            @Html.ValidationMessageFor(m => m.alternateEmailId, null, new { @class = "validationMessageFor" })
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <label class="control-label profileEditLabel">Birthday:</label>
                            @Html.TextBoxFor(m => m.dob, "{0:dd MMM, yyyy}", new { @class = "profiletextbox form-control1 input-lg input-append date datepicker", id = "txtDOB" })
                            @Html.ValidationMessageFor(m => m.dob, null, new { @class = "validationMessageFor" })
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <label class="control-label profileEditLabel">Alternate Modile:</label>
                            @Html.TextBoxFor(m => m.alternateNo, new { @class = "profiletextbox form-control1 input-lg" })
                            @Html.ValidationMessageFor(m => m.alternateNo, null, new { @class = "validationMessageFor" })
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <label class="control-label profileEditLabel">Driving License:</label>
                            @Html.TextBoxFor(m => m.drivingLicense, new { @class = "profiletextbox form-control1 input-lg" })
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <label class="control-label profileEditLabel">Vehicle Reg. No.:</label>
                            @*Saving vahicle no to PAN property. Have to change*@
                            @Html.TextBoxFor(m => m.panNo, new { @class = "profiletextbox form-control1 input-lg" })
                        </div>
                    </div>

                    @*<div class="col-sm-6">
                        <div class="row">

                            <label class="control-label profileEditLabel">Change Image:</label>

                            @Html.TextBoxFor(m => m.profilePic, new { type = "file", id = "profilePic", @class = "profiletextbox form-control1 input-lg" })

                        </div>
                    </div>*@
                </div>
                <br />
                <div class="row" style="padding-left:10px">
                    <div class="col-sm-4">
                        <div class="row">

                            @Html.TextBoxFor(m => m.matchPassword, new { @class = "form-control input-lg txtboxPassword", @placeholder = "Old Password", type = "password", id = "oldpassword" })
                            @Html.ValidationMessageFor(m => m.matchPassword, null, new { @class = "validationMessageFor" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">

                            @Html.TextBoxFor(m => m.newPassword, new { @class = "form-control input-lg txtboxPassword", @placeholder = "New Password", type = "password", id = "newpassword" })
                            @Html.ValidationMessageFor(m => m.newPassword, null, new { @class = "validationMessageFor" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            @Html.ValidationSummary(true)
                            @Html.TextBoxFor(m => m.confirmNewPassword, new { @class = "form-control input-lg txtboxPassword", @placeholder = "Confirm Password", type = "password" })
                            @Html.ValidationMessageFor(m => m.confirmNewPassword, null, new { @class = "validationMessageFor" })
                        </div>
                    </div>
                </div>
                <br />

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2 pull-right">
                                <input type="submit" id="btnSubmitProfile" value="Update" class="updatebtn" />
                            </div>


                        </div>
                    </div>

                </div>
        </div>


    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#divProfile").show("fast");


        //$('#txtDOB').datepicker({
        //    changeMonth: true,
        //    changeYear: true,
        //    yearRange: '1940:2016',
        //    showAnim: "slideDown",
        //    dateFormat: 'd M, yy'
        //});

        $(function () {
            $("#profilePic").change(function () {
                var ValidFileExtension = ['jpg', 'JPG', 'jpeg', 'JPEG', 'png', 'PNG', 'gif', 'GIF', 'bmp', 'BMP'];
                if ($.inArray($(this).val().split('.').pop().toLowerCase(), ValidFileExtension) == -1) {
                    alert("Sorry !!! Allowed image formats are '.jpeg','.jpg', '.png', '.gif', '.bmp'");
                    $("#profilePic").val("");
                }
            })
        });

        $("#EditProfile").click(function () {
            $("#divDisplayProfileInfo").hide("fast");
            $("#divProfileInfoUpdate").show("fast");

        });

        $("#cancelEditProfile").click(function () {
            $("#divProfileInfoUpdate").hide("fast");
            $("#divDisplayProfileInfo").show("fast");


        });

        $("#btnSubmitProfile").click(function (event) {
            var newpassword = $("#newpassword").val();
            var oldpassword = $("#oldpassword").val();
            if (newpassword != "" && oldpassword == "") {
                alert("Old Password required;");
                event.preventDefault();

            }
        })
    });

    //Added by Amit
    $(document).ready(function () { })
    {
        var maximumPoints  = 100;
        var firstNamePercentage,lastNamePercentage,dobPercentage,panPercentage,drivingLicensePercentage,emailIDPercentage,alternateNoPercentage,percentage;
        var firstName = @Html.Raw(Json.Encode(Model.firstName));
        var lastName = @Html.Raw(Json.Encode(Model.lastName));
        var dob = @Html.Raw(Json.Encode(Model.dob));
        var pan = @Html.Raw(Json.Encode(Model.panNo));
        var drivingLicense = @Html.Raw(Json.Encode(Model.drivingLicense));
        var emailID = @Html.Raw(Json.Encode(Model.emailID));
        var alternateNo = @Html.Raw(Json.Encode(Model.alternateNo));

        if(emailID!="" && emailID!=null){
            emailIDPercentage = 10;
        }
        else
            emailIDPercentage=0;
        if(alternateNo!="" && alternateNo!=null){
            alternateNoPercentage = 10;
        }
        else
            alternateNoPercentage=0;

        if(firstName!="" && firstName!=null){
            firstNamePercentage = 10;
        }
        else
            firstNamePercentage=0;
        if(lastName!="" && lastName!=null){
                lastNamePercentage = 10;
        }
        else
        lastNamePercentage=0;
        if(dob!="" && dob!=null){
            dobPercentage = 10;
        }
        else
            dobPercentage=0;
        if(pan!="" && pan!=null){
            panPercentage = 25;
        }
        else
            panPercentage=0;
        if(drivingLicense!=""&& drivingLicense!=null){
            drivingLicensePercentage = 25;
        }
        else
            drivingLicensePercentage=0;
        percentage = ((firstNamePercentage + lastNamePercentage + dobPercentage + panPercentage + drivingLicensePercentage +emailIDPercentage +alternateNoPercentage )*maximumPoints/100);
        percentage = percentage + "%";
        $('#percentageComplete').css('width', percentage);
        $('#percentageComplete').append(percentage);
    }
</script>

@*Added  by Amit*@
<script type="text/javascript">
    $(document).ready(function () {

        jQuery.browser = {};
        (function () {
            jQuery.browser.msie = false;
            jQuery.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                jQuery.browser.msie = true;
                jQuery.browser.version = RegExp.$1;
            }
        })();
   
        $("#txtDOB").datepicker({ dateFormat: 'dd MM, yy',maxDate: 0,
            showAnim: "slideDown", changeMonth: true,
            changeYear: true}).attr('readonly','true');
    });
</script>
