﻿@model TrueWheels.DAL.PBDetailsBEL
@{
    ViewBag.Title = "Add PA User";

    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

}
<div class="sec-title text-center wow animated fadeInDown">
    <h2>Add PA User</h2>

</div>
<br />
<div class="row-fluid"></div>
<div class="col-md-12">
    @*@using (@Html.BeginForm("SendEmailToGmailContacts", "UserDashBaord", FormMethod.Post, new { onsubmit = "return ClosePopUp();",data_success = "account.passwordChangeSuccessfull();" }))*@
    @using (Ajax.BeginForm("AddPAUserDetails", null, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { @name = "iDAddPAUserDetails" }))
    {
        <div class="module-title">
            <h2 style="font-size:5px;">Enter details to add PA User.</h2>
        </div>
            <table>
                <tr style="background-color:#f9f9f9; color:#484848;">
                    <td width="32%" style="padding:6px; font-weight:bold"><b>@Html.TextBoxFor(m => m.First_Name, new { @class = "form-control input-lg", @placeholder = "First Name", @tabindex = "1", @type = "text" })
                    @Html.ValidationMessageFor(model => model.First_Name)</b></td>
                    <td width="32%" style="padding:6px; font-weight:bold"><b>@Html.TextBoxFor(m => m.Last_Name, new { @class = "form-control input-lg", @placeholder = "Last Name", @tabindex = "2", @type = "text" })</b></td>
                    <td width="32%" style="padding:6px; font-weight:bold">@Html.TextBoxFor(m => m.phone_No1, new { @class = "form-control input-lg", @placeholder = "Phone No 1", @tabindex = "3", @type = "text" })
                    @Html.ValidationMessageFor(model => model.phone_No1)</td>
                    
                </tr>
                <tr style="background-color:#fff;height:40px; line-height:40px">
                    <td style="">@Html.TextBoxFor(m => m.Email_Id, new { @class = "form-control input-lg", @placeholder = "Email Id", @tabindex = "5", @type = "text" })
                    @Html.ValidationMessageFor(model => model.Email_Id)</td>
                    <td>@Html.TextBoxFor(m => m.Password, new { @class = "form-control input-lg", @placeholder = "Password", @tabindex = "6", @type = "text" })
                    @Html.ValidationMessageFor(model => model.Password)</td>
                    <td>@Html.TextBoxFor(m => m.dob, new { @class = "form-control input-lg", @placeholder = "DOB", @tabindex = "8", @type = "text" })
                    @Html.ValidationMessageFor(model => model.dob)</td>
                </tr>
                <tr style="background-color:#fff;height:40px; line-height:40px">
                    <td style="">
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control input-lg", @placeholder = "Owner Address", @tabindex = "9", @type = "text" })
                        @Html.ValidationMessageFor(model => model.Address)
                </td>
                    <td style="">
                        @Html.ListBoxFor(m => m.ParkinIdsList, new SelectList(Model.ParkingItemList, "Value", "Text", Model.ParkingItemList.FirstOrDefault().Text), new { @class = "form-control", size = "5", multiple = "multiple", id = "myList" })
                    </td>
                    </tr>

</table>
    <input type="submit" value="Submit" class="sendbtn1" />
    }
    <div id="status-message"></div>
</div>

<script type="text/javascript">
    function OnSuccess(ajaxContext) {
        if (ajaxContext != "") {
            debugger
            $('#status-message').html('Invitation mail sent succesfully.')

        }
        else if (ajaxContext == "NoEmailSelected") {
            alert("Please select atleast one EmailId.")
        }
        else {
            $('#status-message').html('An error has occured.Please try later.')
        }
    }
</script>