﻿@model    TrueWheels.Web.Models.UserMaintenanceViewModel

@{
    ViewBag.Title = "Index";
    @Styles.Render("~/Content/Login/css/DashBoardIndexstyle")
    @Styles.Render("~/Content/DashBoardIndexstyle2")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>

    Html.EnableClientValidation(true);


}
<script type="text/javascript">
    $(document).ready(function () {
        $("#UploadImg").change(function () {
            var data = new FormData();
            var files = $("#UploadImg").get(0).files;
            if (files.length > 0) {
                data.append("MyImages", files[0]);
            }

            $.ajax({
                url: "/UserDashBaord/UploadFile",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    //code after success
                    
                    $("#txtImg").val(response);
                    $("#imgPreview").attr('src', 'Content/images/profilePicture/' + response);
                },
                error: function (er) {
                    
                    alert(er);
                }

            });
        });
    });
</script>





@*<style>
    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .profiletextbox {
        margin: 0px 25px 15px 0px;
        float: right;
    }

    .profileEditLabel {
        margin: 0px 25px 15px 20px;
    }

    .txtboxPassword {
        width: 80% !important;
        margin-left: 8%;
        margin-top: 2%;
    }

    .user_head {
        font-size: 30px;
        font-weight: bold;
        margin-left: 1px;
        padding: 10px;
        padding: 20px;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
        -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.03);
        box-shadow: 0 2px 3px rgba(0,0,0,0.03);
    }
    /*.profile {background-color:#f0f0f0; border:2px solid #7DB734; border-radius:10px;*/
</style>*@




@*<div id="divDisplayProfileInfo">*@
<div id="">
    <div class="col-md-1"></div>
    <div class="col-md-12 col-sm-12 col-xs-12" id="showothermenus">
        <div class="col-md-12 col-sm-12 col-xs-12" style="background-color:#fff; border:1px solid #eee; border-radius:5px; display:none">

            <div class="free-parking-card">

                <div class="free-parking-card__text">
                    <div class="free-parking-card__title">Earn £5.00 for free!</div>
                    <div class="free-parking-card__desc">Invite a friend and you both get £5.00.</div>
                </div>
                <a href="" class="btn free-parking-card__btn">Invite friends</a>
            </div>

        </div>
        @*<div class="col-md-12" style="height:40px;"></div>*@
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="profile-sidebar2">

                    <div class="profile-image">

                        @if (Session["Pic_url"] != null)
                        {
                        <img id="imgPreview" src=@Session["Pic_url"] class="img-responsive" />
                        }
                        else
                        {
                        <img id="imgPreview" src="~/Content/images/profilePicture/@Model.Personalinfo.profilePicPath" class="img-responsive1" />
                        }

                        @Html.TextBox("UploadImg", null, new { id = "UploadImg", @class = "form-control2", @type = "file" })

                    </div>
                  

                    <div class="editsection">
                        <a id="EditProfile" class="editbtn" style="cursor:pointer; display:none">Edit Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="profile-usertitle">
                    @if (Session["userDetail"] != null)
                    {
                    <div class="profile-usertitle-name">
                        <span>@(Model.Personalinfo.fullName) </span>
                    </div>
                    <div class="profile-usertitle-job">
                        <span>@(Model.Personalinfo.mobileNo) </span>
                    </div>
                    }
                    else
                    {
                    <div class="profile-usertitle-name">
                        <span>Name</span>
                    </div>
                    <div class="profile-usertitle-job">
                        <span>Mobile </span>
                    </div>
                    }

                </div>

                <ul class="trust-centre-items" style="display:none">
                    <li>
                        @*<i class="glyphicons icon-cars"></i>*@
                        <i class="fa fa-car" aria-hidden="true"></i>

                        <h5>Bookings Made</h5>
                        <p>0</p>
                    </li>
                    <li>
                       
                        <i class="fa fa-home" aria-hidden="true"></i>

                        <h5>Bookings Received</h5>
                        <p>0</p>
                    </li>
                </ul>
                <br />

                <div class="col-md-12 col-sm-12 col-xs-12 profile-completion-section">

                    <div class="col-md-12 col-sm-12 col-xs-12 dashboard-home">
                        <div class="row">
                            <label class=" col-xs-2 control-label">
                                <i class="fa fa-envelope tooltip" aria-hidden="true">
                                    <span class="tooltiptext">Email</span>

                                </i>

                            </label>
                            <div class="col-xs-10 controls">
                                @Model.Personalinfo.emailID
                            </div>
                            @*<div class="col-xs-7 controls">@Model.Email_ID</div>*@
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 dashboard-home">
                        <div class="row">
                            <label class="col-xs-2 control-label">

                                <i class="fa fa-birthday-cake tooltip" aria-hidden="true">
                                    <span class="tooltiptext">Birthday</span>
                                </i>
                            </label>
                            <div class="col-xs-10 controls">
                                @if (!string.IsNullOrEmpty(Convert.ToString(Model.Personalinfo.dob))) { 
                                @Model.Personalinfo.dob.Value.ToString("dd MMM yyyy")
                                }
                            </div>

                        </div>
                    </div>
                    @*<div class="col-md-12 col-sm-12 col-xs-12 dashboard-home">
                <div class="row">
                    <label class="col-xs-2 control-label">

                        <i class="fa fa-envelope tooltip" aria-hidden="true">
                            <span class="tooltiptext">Alternate Email</span>
                        </i>
                    </label>
                    <div class="col-xs-10 controls">
                        shwetakushwah1989@gmail.com
                    </div>

                </div>
            </div>*@
                    <div class="col-md-12 col-sm-12 col-xs-12 dashboard-home">
                        <div class="row">
                            <label class="col-xs-2 control-label">
                                <i class="fa fa-mobile tooltip" style="font-size:20px !important; padding:3px 8px !important" aria-hidden="true">
                                    <span class="tooltiptext">Alternate Mobile</span>
                                </i>
                            </label>
                            <div class="col-xs-10 controls">
                                @Model.Personalinfo.alternateNo
                            </div>
                            @*<div class="col-xs-7 controls">@Model.AlternateNo</div>*@
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 dashboard-home">
                        <div class="row">
                            <label class="col-xs-2 control-label">
                                <i class="fa fa-id-card tooltip" aria-hidden="true">
                                    <span class="tooltiptext">Driving License</span>
                                </i>
                            </label>
                            <div class="col-xs-10 controls">
                                @Model.Personalinfo.drivingLicense
                            </div>

                            @*<div class="col-xs-7 controls">@Model.Owner_Address</div>*@
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 dashboard-home">
                        <div class="row">
                            <label class="col-xs-2 control-label">
                                <i class="fa fa-columns tooltip" aria-hidden="true">
                                    <span class="tooltiptext">Vehicle Registration No.</span>
                                </i>
                            </label>
                            <div class="col-xs-10 controls">
                                @Model.Personalinfo.panNo
                            </div>

                            @*<div class="col-xs-7 controls">@Model.Owner_Address</div>*@
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 dashboard-home">
                        <div class="row">
                            <label class="col-xs-2 control-label">
                                <i class="fa fa-columns tooltip" aria-hidden="true">
                                    <span class="tooltiptext">Verification Status</span>
                                </i>
                            </label>
                            <div class="col-xs-10 controls">
                                @Model.Personalinfo.ownerVerificationStatus
                            </div>

                            @*<div class="col-xs-7 controls">@Model.Owner_Address</div>*@
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 dashboard-home">
                        <div class="row">
                            <label class="col-xs-2 control-label">
                                <i class="fa fa-map-marker tooltip" style="font-size:18px !important; padding:4px 8px !important" aria-hidden="true">
                                    <span class="tooltiptext">Owner Address</span>
                                </i>
                            </label>
                            <div class="col-xs-10 controls">
                                @Model.Personalinfo.ownerAddress
                            </div>

                            @*<div class="col-xs-7 controls">@Model.Owner_Address</div>*@
                        </div>
                    </div>
                </div>

            </div>

            @*<div id="userprofile" class="col-md-3 col-sm-12 col-xs-12">*@

            @*@Html.Partial("~/Views/UserDashbaord/_Personalinfo.cshtml", Model.Personalinfo)*@

            @*</div>*@
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12" style="height:10px;"></div>
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                @*<div class="">
                    <div id="dashboard-bookings-made dashboard-home" class="section section-bookings">
                        <h6>Bookings Made</h6>
                        <div class="utils">
                            <a href="">View all</a>
                        </div>
                        <table class="table table-hover linked"> </table>
                    </div>
                </div>*@

            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">

                <div class="">
                    <div id="dashboard-messages dashboard-home" class="section section-messaging section-bookings" style="display:none">
                        <h6>Recent Messages</h6>
                        <div class="utils">
                            <a href="">View all</a>
                        </div>
                        <table class="table table-hover linked messaging"> </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12" style="display:none">
                @*<div class="">
                    <div id="dashboard-bookings-received dashboard-home" class="section section-bookings">
                        <h6>Bookings Received</h6>
                        <div class="utils">
                            <a href="">View all</a>
                        </div>
                        <table class="table table-hover linked"> </table>
                    </div>
                </div>*@

            </div>




        </div>
    </div>
</div>
   