﻿@*@model IEnumerable<TrueWheels.Web.Models.DashBaordViewModal>*@
@*@model List<TrueWheels.Web.Models.DashBaordViewModal>*@
@model    TrueWheels.Web.Models.UserMaintenanceViewModel

@{
    ViewBag.Title = "Index";
    @Styles.Render("~/Content/Login/css/DashBoardIndexstyle")
    @Styles.Render("~/Content/DashBoardIndexstyle2")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>

    Html.EnableClientValidation(true);


}
<script type="text/javascript">
    $(document).ready(function () {
        $("#UploadImg").change(function () {
            var data = new FormData();
            var files = $("#UploadImg").get(0).files;
            if (files.length > 0) {
                data.append("MyImages", files[0]);
            }

            $.ajax({
                url: "/UserDashBaord/UploadFile",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    //code after success
                    
                    $("#txtImg").val(response);
                    $("#imgPreview").attr('src', 'Content/images/profilePicture/' + response);
                },
                error: function (er) {
                    
                    alert(er);
                }

            });
        });
    });
</script>





<style>
    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .profiletextbox {
        margin: 0px 25px 15px 0px;
        float: right;
    }

    .profileEditLabel {
        margin: 0px 25px 15px 20px;
    }

    .txtboxPassword {
        width: 80% !important;
        margin-left: 8%;
        margin-top: 2%;
    }

    .user_head {
        font-size: 30px;
        font-weight: bold;
        margin-left: 1px;
        padding: 10px;
        padding: 20px;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
        -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.03);
        box-shadow: 0 2px 3px rgba(0,0,0,0.03);
    }
    /*.profile {background-color:#f0f0f0; border:2px solid #7DB734; border-radius:10px;*/ 
</style>




<div style="background-color:#F7F7F7; width:100%;">
    <div class="container">

        @*<div>
                <h1 class="user_head">User Profile Page</h1>
            </div>*@


        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    @Html.AntiForgeryToken()

    <div id="profileInfoPanel" class="row profile">

        <div class="col-md-2 row">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons" style="visibility:hidden">
                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                    <button type="button" class="btn btn-danger btn-sm">Message</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        @if (Model != null)
                            {

                                foreach (var item in @ViewBag.DashBoardMenu)
                                {
                            <li>
                                <a class="active" id="Dashboardid-@item.Menu_id" onclick="demo(this.id);" style="cursor:pointer;">
                                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>

                                    <b>
                                        @item.Menu_description

                                    </b>
                                </a>
                                @*<ul>

                                        <li class="active">
                                            <a href="#">
                                                <i class="glyphicon glyphicon-home"></i>
                                                <b> Subitem </b>
                                            </a>
                                        </li>
                                        <li class="active">
                                            <a href="#">
                                                <i class="glyphicon glyphicon-home"></i>
                                                <b> Subitem2 </b>
                                            </a>
                                        </li>

                                    </ul>*@
                            </li>

                                }
                            }
                            else
                            {
                            <li>

                                <a href="#">
                                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                    Overview
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                    Account Settings
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                    Tasks
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                    Help
                                </a>
                            </li>

                            }
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-9 col-sm-12 col-xs-12" id="showothermenus">
            @*<div class="col-md-12 col-sm-12 col-xs-12" style="background-color:#fff; border:1px solid #eee; border-radius:5px; display:none">

                <div class="free-parking-card">

                    <div class="free-parking-card__text">
                        <div class="free-parking-card__title">Earn £5.00 for free!</div>
                        <div class="free-parking-card__desc">Invite a friend and you both get £5.00.</div>
                    </div>
                    <a href="" class="btn free-parking-card__btn">Invite friends</a>
                </div>

            </div>*@
            @*<div class="col-md-12" style="height:40px;"></div>*@
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="profile-sidebar2">

                        <div class="profile-image">

                            @if (Session["Pic_url"] != null)
                                {
                                <img id="imgPreview" src=@Session["Pic_url"] class="img-responsive" />
                                }
                                else
                                {
                                <img id="imgPreview" src="~/Content/images/profilePicture/@Model.Personalinfo.profilePicPath" class="img-responsive1" />
                                }

                            @Html.TextBox("UploadImg", null, new { id = "UploadImg", @class = "form-control2", @type = "file" })

                        </div>
                      
                        <div class="editsection">
                            <a id="EditProfile" class="editbtn" style="cursor:pointer; display:none">Edit Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="profile-usertitle">
                        @if (Session["userDetail"] != null)
                            {
                            <div class="profile-usertitle-name">
                                <span>@(Model.Personalinfo.fullName) </span>
                            </div>
                            <div class="profile-usertitle-job">
                                <span>@(Model.Personalinfo.mobileNo) </span>
                            </div>
                            }
                            else
                            {
                            <div class="profile-usertitle-name">
                                <span>Name</span>
                            </div>
                            <div class="profile-usertitle-job">
                                <span>Mobile </span>
                            </div>
                            }

                    </div>

                    <ul class="trust-centre-items" style="display:none">
                        <li>
                            @*<i class="glyphicons icon-cars"></i>*@
                            <i class="fa fa-car" aria-hidden="true"></i>

                            <h5>Bookings Made</h5>
                            <p>0</p>
                        </li>
                        <li>
                            @*<i class="glyphicons icon-home"></i>*@
                            <i class="fa fa-home" aria-hidden="true"></i>

                            <h5>Bookings Received</h5>
                            <p>0</p>
                        </li>
                    </ul>
                    <br />

                    <div class="col-md-12 col-sm-12 col-xs-12 profile-completion-section">

                        <div class="col-md-12 col-sm-12 col-xs-12 dashboard-home">
                            <div class="row">
                                <label class=" col-xs-2 control-label">
                                    <i class="fa fa-envelope tooltip" aria-hidden="true">
                                        <span class="tooltiptext">Email</span>

                                    </i>

                                </label>
                                <div class="col-xs-10 controls">
                                    @Model.Personalinfo.emailID
                                </div>
                                @*<div class="col-xs-7 controls">@Model.Email_ID</div>*@
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 dashboard-home">
                            <div class="row">
                                <label class="col-xs-2 control-label">

                                    <i class="fa fa-birthday-cake tooltip" aria-hidden="true">
                                        <span class="tooltiptext">Birthday</span>
                                    </i>
                                </label>
                                <div class="col-xs-10 controls">
                                    @Model.Personalinfo.dob
                                </div>
                               
                            </div>
                        </div>
                        @*<div class="col-md-12 col-sm-12 col-xs-12 dashboard-home">
                            <div class="row">
                                <label class="col-xs-2 control-label">

                                    <i class="fa fa-envelope tooltip" aria-hidden="true">
                                        <span class="tooltiptext">Alternate Email</span>
                                    </i>
                                </label>
                                <div class="col-xs-10 controls">
                                    shwetakushwah1989@gmail.com
                                </div>
                               
                            </div>
                        </div>*@
                        <div class="col-md-12 col-sm-12 col-xs-12 dashboard-home">
                            <div class="row">
                                <label class="col-xs-2 control-label">
                                    <i class="fa fa-mobile tooltip" style="font-size:20px !important; padding:3px 8px !important" aria-hidden="true">
                                        <span class="tooltiptext">Alternate Mobile</span>
                                    </i>
                                </label>
                                <div class="col-xs-10 controls">
                                    @Model.Personalinfo.alternateNo
                                </div>
                                @*<div class="col-xs-7 controls">@Model.AlternateNo</div>*@
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 dashboard-home">
                            <div class="row">
                                <label class="col-xs-2 control-label">
                                    <i class="fa fa-id-card tooltip" aria-hidden="true">
                                        <span class="tooltiptext">Driving License</span>
                                    </i>
                                </label>
                                <div class="col-xs-10 controls">
                                    @Model.Personalinfo.drivingLicense
                                </div>

                                @*<div class="col-xs-7 controls">@Model.Owner_Address</div>*@
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 dashboard-home">
                            <div class="row">
                                <label class="col-xs-2 control-label">
                                    <i class="fa fa-columns tooltip"  aria-hidden="true">
                                        <span class="tooltiptext">Vehicle Registration No.</span>
                                    </i>
                                </label>
                                <div class="col-xs-10 controls">
                                    @Model.Personalinfo.panNo
                                </div>

                                @*<div class="col-xs-7 controls">@Model.Owner_Address</div>*@
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 dashboard-home">
                            <div class="row">
                                <label class="col-xs-2 control-label">
                                    <i class="fa fa-columns tooltip" aria-hidden="true">
                                        <span class="tooltiptext">Verification Status</span>
                                    </i>
                                </label>
                                <div class="col-xs-10 controls">
                                  @Model.Personalinfo.ownerVerificationStatus
                                </div>

                                @*<div class="col-xs-7 controls">@Model.Owner_Address</div>*@
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 dashboard-home">
                            <div class="row">
                                <label class="col-xs-2 control-label">
                                    <i class="fa fa-map-marker tooltip" style="font-size:18px !important; padding:4px 8px !important" aria-hidden="true">
                                        <span class="tooltiptext">Owner Address</span>
                                    </i>
                                </label>
                                <div class="col-xs-10 controls">
                                   @Model.Personalinfo.ownerAddress
                                </div>

                                @*<div class="col-xs-7 controls">@Model.Owner_Address</div>*@
                            </div>
                        </div>
                    </div>

                </div>
                
                    @*<div id="userprofile" class="col-md-3 col-sm-12 col-xs-12">*@

                    @*@Html.Partial("~/Views/UserDashbaord/_Personalinfo.cshtml", Model.Personalinfo)*@

                @*</div>*@
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" style="height:10px;"></div>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    @*<div class="">
                        <div id="dashboard-bookings-made dashboard-home" class="section section-bookings">
                            <h6>Bookings Made</h6>
                            <div class="utils">
                                <a href="">View all</a>
                            </div>
                            <table class="table table-hover linked"> </table>
                        </div>
                    </div>*@

                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">

                    <div class="">
                        <div id="dashboard-messages dashboard-home" class="section section-messaging section-bookings" style="display:none">
                            <h6>Recent Messages</h6>
                            <div class="utils">
                                <a href="">View all</a>
                            </div>
                            <table class="table table-hover linked messaging"> </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12" style="display:none">
                    @*<div class="">
                        <div id="dashboard-bookings-received dashboard-home" class="section section-bookings">
                            <h6>Bookings Received</h6>
                            <div class="utils">
                                <a href="">View all</a>
                            </div>
                            <table class="table table-hover linked"> </table>
                        </div>
                    </div>*@

                </div>




            </div>
        </div>



        </div>
    }
    </div>
    </div>
    @*<p>
            @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
            @Html.ActionLink("Back to List", "Index")

        </p>*@
    <script>
        function demo(id) {
        var url = "";
        if (id == "Dashboardid-11")
            url = '@Url.Action("InviteFriends")'
        else if(id == "Dashboardid-12")
            url = '@Url.Action("FollowUs")'
        else if(id == "Dashboardid-1")
            url = '@Url.Action("ViewProfile")'
        else if(id == "Dashboardid-10")
            url = '@Url.Action("Inbox")'
        else if (id == "Dashboardid-9")
            url = '@Url.Action("DashboardIndex")'
        else if (id == "Dashboardid-13")
            url = '@Url.Action("AddPAUser")'

        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'html',
            contentType: 'application/html; charset-utf-8',
            success: function (names) {
                $("#showothermenus").html('');
                $("#showothermenus").html(names);
            },
            error: function (ex) {
                alert("Failed to retreive" + ex);
            }
        });

        }

    $(document).ready(function () {

        $(".txtboxPassword").val("");


        $("#oldpassword").keydown(function () {

        });

        $("#idHowitWorks").click(function () {
            var url = '@Url.Action("Index","Home")';
            window.location.href = url;

            $('html, body').animate({
                scrollTop: $("#divHowitworks").offset().top
            }, 'slow');
        });

        $("#idContactUs").click(function () {
            var url = '@Url.Action("Index","Home")';
            window.location.href = url;

            $('html, body').animate({
                scrollTop: $("#divContactUs").offset().top
            }, 'slow');
        });

        $("#idAboutUS").click(function () {
            var url = '@Url.Action("Index","Home")';
            window.location.href = url;

            $('html, body').animate({
                scrollTop: $("#divAboutUS").offset().top
            }, 'slow');
        });



        //$("#Dashboardid-11").click(function () {

        $(document).ready(function () {
            $("#Dashboardid-11 a").click(function () {
                $.ajax({
                    url: '@Url.Action("InviteFriends")',
                    type: 'GET',
                    dataType: 'html',
                    contentType: 'application/html; charset-utf-8',
                    success: function (names) {
                        $("#userprofile").html('');
                        $("#userprofile").html(names);
                    },
                    error: function (ex) {
                        alert("Failed to retreive" + ex);
                    }
                });
            });
        });

        $("#Dashboardid-12").click(function () {
            $.ajax({
                url: '@Url.Action("FollowUs")',
                type: 'GET',
                dataType: 'html',
                contentType: 'application/html; charset-utf-8',
                success: function (names) {
                    $("#userprofile").html('');
                    $("#userprofile").html(names);
                    FB.XFBML.parse();
                },
                error: function (ex) {
                    alert("Failed to retreive" + ex);
                }
            });
        });

        $("#Dashboardid-1").click(function () {
            $.ajax({
                url: '@Url.Action("ViewProfile")',
                type: 'GET',
                dataType: 'html',
                contentType: 'application/html; charset-utf-8',
                success: function (names) {
                    $("#userprofile").html('');
                    $("#userprofile").html(names);
                },
                error: function (ex) {
                    alert("Failed to retreive" + ex);
                }
            });
        });

        $("#Dashboardid-10").click(function () {
            $.ajax({
                url: '@Url.Action("Inbox")',
                type: 'GET',
                dataType: 'html',
                contentType: 'application/html; charset-utf-8',
                success: function (names) {
                    $("#userprofile").html(names);
                },
                error: function (ex) {
                    alert("Failed to retreive" + ex);
                }
            });
        });

        (function (d, s, id) {

            var js, fjs = d.getElementsByTagName(s)[0];

            if (d.getElementById(id)) return;

            js = d.createElement(s); js.id = id;

            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1363381040409841";

            fjs.parentNode.insertBefore(js, fjs);

        }(document, 'script', 'facebook-jssdk'));

    });

</script>

<script type="text/javascript">
    var clientId = '329612838566-1pu74p6smu6ur7omqvs0rb5vq8jftqf3.apps.googleusercontent.com';
    var apiKey = 'AIzaSyBc-JM38Xl8U8kdvP1e-PY6um52cftwkus';
    var scopes = 'https://www.googleapis.com/auth/contacts.readonly';

    function auth() {
        gapi.client.setApiKey(apiKey);
        window.setTimeout(authorize);
    };

    function authorize() {
        gapi.auth.authorize({ client_id: clientId, scope: scopes, immediate: false }, handleAuthorization);
        return false;
    }

    function handleAuthorization(authorizationResult) {
        if (authorizationResult && !authorizationResult.error) {
            var emails = [];
            var names = [];
            $.ajax({
                url: "https://www.google.com/m8/feeds/contacts/default/full?access_token=" + gapi.auth.getToken().access_token + "&alt=json&max-results=1000",
                dataType: 'jsonp'
            }).done(function (data) {
                var entries = data.feed.entry;
                for (var i = 0; i < entries.length; i++) {
                    if (entries[i].gd$email) {
                        if (emails.indexOf(entries[i].gd$email[0].address) < 0) {

                            emails.push(entries[i].gd$email[0].address + "," + entries[i].title["$t"]);
                            //names.push(entries[i].title["$t"])
                        }
                    }
                }

                if (emails.length > 0) {

                    jQuery.browser = {};
                    (function () {
                        jQuery.browser.msie = false;
                        jQuery.browser.version = 0;
                        if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                            jQuery.browser.msie = true;
                            jQuery.browser.version = RegExp.$1;
                        }
                    })();

                    $("#divEmails").dialog({
                        modal: true,
                        draggable: false,
                        //resizable: false,
                        position: ['center', 'top'],
                        show: 'blind',
                        hide: 'blind',
                        width: '600px',
                        height: '550px',
                        maxHeight: window.innerHeight - 15,
                        open: function (event, ui) {
                            $(this).dialog("option", "height", 500);
                        },
                        overflow: 'scroll',
                        "Submit": function () {
                            $(this).dialog("close");
                            return true;
                        },
                        buttons: {
                            "Close": function (fv) {
                                $(this).dialog("close");
                            }
                        }
                    });
                    $.ajax({
                        url: '@Url.Action("InviteGmailContacts","UserDashBaord")',
                        type: 'POST',
                        data: { emails: emails },
                        //dataType: 'html',
                        traditional: true,
                        //contentType: 'application/html; charset-utf-8',
                        success: function (names) {
                            $("#divEmails").html(names);
                            $('#divEmails').dialog('open');
                        },
                        error: function (ex) {
                            alert("Failed to retreive" + ex);
                        }
                    });
                }
                //callback(undefined, emails);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                callback(errorThrown, emails);
            });
        }
    }

</script>

<script type="text/javascript">

    function InviteFriendByEmail() {
        jQuery.browser = {};
        (function () {
            jQuery.browser.msie = false;
            jQuery.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                jQuery.browser.msie = true;
                jQuery.browser.version = RegExp.$1;
            }
        })();
        $("#divInviteEmail").dialog({
            modal: true,
            draggable: false,
            //resizable: false,
            position: ['center', 'top'],
            show: 'blind',
            hide: 'blind',
            width: '600px',
            height: '550px',
            maxHeight: window.innerHeight - 15,
            open: function (event, ui) {
                $(this).dialog("option", "height", 500);
                $(this).load('@Url.Action("InviteFriendByEmail", "UserDashBaord")');
            },
            overflow: 'scroll',
            "Submit": function () {
                $(this).dialog("close");
                return true;
            },
            buttons: {
                "Close": function (fv) {
                    $(this).dialog("close");
                }
            }
        });
    }

</script>



