﻿
@model TrueWheels.Web.Models.DashBaordViewModal
@{
    ViewBag.Title = "Invite Gmail Contacts";

    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>



}
<div class="sec-title text-center wow animated fadeInDown">
    <h2>Invite Gmail Contacts</h2>

</div>
@*<div class="modal-title">
    <h2>Invite Gmail Contacts</h2>
</div>*@
<br />
<div class="row-fluid"></div>
<div class="col-md-12">
    @*@using (@Html.BeginForm("SendEmailToGmailContacts", "UserDashBaord", FormMethod.Post, new { onsubmit = "return ClosePopUp();",data_success = "account.passwordChangeSuccessfull();" }))*@
    @using (Ajax.BeginForm("SendEmailToGmailContacts", null, null, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { @name = "SubmitContactUs" }))
    {
        for (int i = 0; i < Model.objInviteDetails.Count; i++)
        {
            <table>
                <tr style="background-color:#f9f9f9; color:#484848;">
                    <td width="32%" style="padding:6px; font-weight:bold"><b>Title</b></td>
                    <td width="32%" style="padding:6px; font-weight:bold"><b>Email</b></td>
                    <td width="32%" style="padding:6px; font-weight:bold">@Html.HiddenFor(x => Model.objInviteDetails[i].EmailInvite)</td>
                    <td width="32%" style="padding:6px; font-weight:bold"><b>Select</b></td>
                </tr>
                <tr style="background-color:#fff;height:40px; line-height:40px">
                    <td style="">@Model.objInviteDetails[i].InviteName</td>
                    <td>@Model.objInviteDetails[i].EmailInvite</td>
                    <td>@Html.HiddenFor(x => Model.objInviteDetails[i].EmailInvite)</td>
                    <td>@Html.EditorFor(x => Model.objInviteDetails[i].IsTrue)</td>
                </tr>
            </table>
            @*<label>Title</label><div>@Model.objInviteDetails[i].InviteName</div>
            <label>Email</label><div>@Model.objInviteDetails[i].EmailInvite </div>
            <div>@Html.HiddenFor(x => Model.objInviteDetails[i].EmailInvite) </div>
            <label>Send</label><div>@Html.EditorFor(x => Model.objInviteDetails[i].IsTrue)</div>*@
        }
        <input type="submit" value="Send" class="sendbtn1" />
    }
    <div id="status-message"></div>
</div>

<script type="text/javascript">
    function OnSuccess(ajaxContext) {
        if (ajaxContext == "true") {
            $('#status-message').html('Invitation mail sent succesfully.')

            setTimeout(function () {
                $("#divEmails").dialog("close");
            }, 5000);
        }
        else if (ajaxContext == "NoEmailSelected") {
            alert("Please select atleast one EmailId.")
        }
        else {
            $('#status-message').html('An error has occured.Please try later.')
            setTimeout(function () {
                $("#divEmails").dialog("close");
            }, 5000);
        }
    }
</script>