
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/****-----start-body----****/
body{
	
	font-family: 'Oxygen', sans-serif;
}
.main{
	margin:0em auto 0;
	width:44%;
    background:#3C4C55;
    padding: 10px 30px;
    margin-top : 10px;
}

.main h2,.main h3{
	font-size: 1em;
	text-align: center;
	color:#fff;
	padding:1em 0;
	font-family: 'Oxygen', sans-serif;
}
.main h3{
	font-size: 1em;
	text-align:left;
	font-family: 'Oxygen', sans-serif;
}

ul.facebook{
	list-style:none;
	padding:0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	background: #3B5998;
	padding: 12px;
}
i.fb{
	width:30px;
	height:30px;
	background:url(../images/fb.png);
	float:left;
	margin-right: 2em;
}
ul.facebook li{
	color:#fff;
	font-size:1em;
	float: left;
	margin-top: 5px;
}
ul.facebook:hover{
	background: #5D7BBA;
}

ul.twitter{
	list-style:none;
	padding:0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	background:#55ACEE;
	padding: 12px;
}
i.tw{
	width:30px;
	height:30px;
	background:url(../images/tw.png);
	float:left;
	margin-right: 2em;
}
ul.twitter li{
	color:#fff;
	font-size:1em;
	float: left;
	margin-top: 5px;
}
ul.twitter:hover{
	background: #71B8ED;
}
span.term a{
	color: #1888A8;
	font-weight: bold;
}
span.term a:hover{
	color:#fff;
}
.lable input[type="text"] {
	padding: 15px;
	font-size: 1.1em;
	margin: 18px 0px;
	color: #666666;
	width:87%;
	cursor: pointer;
	font-family: 'Oxygen', sans-serif;
	outline: none;
	font-weight: 600;
	margin-left: 3px;
	background: #FFFFFF;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border-left: 6px solid #fff;
	border-bottom: none;
	border-right: none;
	border-top: none;
}
/*.lable input[type="text"]:hover,.lable-2 input[type="text"]:hover,input[type="Password"]:hover,#active {
	color:#DCDCDC;
    
	border-left: 6px solid black;
}
.lable-2 input[type="text"],input[type="Password"] { 
	padding: 14px;
	width: 80%;
	font-size: 1em;
	margin: 18px 0px 0px 20px;
	border:none;
	color: black;
	cursor: pointer;
	background: none;
	float: left;
	outline: none;
	font-weight: 700;
	font-family: 'Oxygen', sans-serif;
	background: #ffffff;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border-left: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
	border-right: 1px solid #a9a9a9;
	border-top: 1px solid #a9a9a9;
	
}*/
.submit{
	padding:5px 4px;
	text-align: center;
}
input[type=submit] {
	padding: 8px 30px;
	color: #fff;
	float: right;
	
	
	cursor: pointer;
	font-size: 18px;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	outline:none;
	width: 100%;
	-webkit-appearance: none;
    border-radius:30px;
}
.submit input[type=submit]:hover {
	 background:#07793D;
	 border:1px solid #07793D;
}
/**start-copy-right**/
.copy-right {
	text-align: center;
	margin: 2em 0;
}
.copy-right p {
	color: #FFF;
	font-size:1em;
}
.copy-right p a {
	font-family: 'Oxygen', sans-serif;
	font-size:1em;
	font-weight:600;
	color:#55ACEE;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.copy-right a:hover{
	color:#fff;
}
.col_1_of_2:first-child {
	margin-left: 0;
}
.span_1_of_2 {
	width:49.7%;
}
.col_1_of_2 {
	display: block;
	float: left;
	margin:0 0 0 0.6%;
}
.col_1_of_f:first-child {
	margin-left: 0;
}
.span_1_of_f {
	width:49.7%;
}
.col_1_of_f {
	display: block;
	float: left;
	margin:0 0 0 0;
}
/*----start-responsive design-----*/
@media (max-width:1024px){
.col_1_of_2 {
	margin: 0 0 0 3.6%;
}
.span_1_of_2 {
	width: 47.7%;
}
.span_1_of_f {
	width: 50%;
}
i.fb, i.tw {
	margin-right: 1em;
}
.main {
	width: 50%;
}
}
@media (max-width:800px){
.span_1_of_f {
	width: 100%;
}
.col_1_of_f {
	float:none;
}
.span_1_of_2 {
	width: 100%;
}
.col_1_of_2 {
	margin:0;
}
.lable-2 input[type="text"], input[type="Password"] {
	padding: 14px;
	width: 89%;
}
}
@media (max-width:480px){
.main {
margin: 7em auto 0;
width:70%;
}
}
@media (max-width:320px){
.main {
	width:80%;
}
.lable input[type="text"] {
	width: 83%;
}
.lable-2 input[type="text"], input[type="Password"] {
	width: 84%;
}
}

#divFollowUs {background-color:white;width:100%;

margin:20px 20px 0 20px;
}
#divFollowUs2 {
    width:100%;height:40px;line-height:40px; display:block;text-align:left; padding-left:30px;
    font-weight:bold; /*;background-color:#1F2E46;color:white;*/ font-size:30px; /*border-radius:6px 6px 0 0;*/
}
#divFollowUs3 {
    overflow-x:auto; padding-top:40px; /*margin-left:10px;  margin-right:10px;*/
}
#divInviteFriends {background-color:white;width:100%;min-height:490px;margin:20px 20px 0 20px;display:none;
}
#divInviteFriends1 {
    width:100%;height:40px;line-height:40px;display:block;text-align:left; font-weight:bold; /*background-color:#1F2E46;color:white;*/ font-size:30px;/*border-radius:6px 6px 0 0;*/
}
#divProfileInfo {
    height:auto;
}
#divDisplayProfileInfo {
   width:100%; margin:0px 20px 0 20px; padding:10px 30px 30px 25px; background-color:white; border:1px solid #eee; border-radius:7px;
}
#divProfileInfoUpdate {
    background-color:white;width:100%; margin:0px 20px 0 20px; padding:20px 30px 10px 25px;display:none; border:1px solid #eee; border-radius:7px;

}
/*.profile-sidebar2 {
    box-shadow: inset 6px 0px 25px -16px #ABABAB,1px 1px 0px 10px #85B736;
-webkit-box-shadow: inset 6px 0px 25px -16px #ABABAB,1px 1px 0px 10px #85B736;
-moz-box-shadow: inset 6px 0px 25px -16px #ABABAB,1px 1px 0px 10px #85B736;
-o-box-shadow: inset 6px 0px 25px -16px #ABABAB,1px 1px 0px 10px #85B736; border-radius:10px; margin:5px 10px 0 20px
}*/
.profile-sidebar2 { margin-top:20px;
}

.img-responsive1 {
        border-radius:100%; border: 1px solid #ccc;
padding:10px;
background-color: #fff; margin-bottom:10px; width:200px;  height:200px; margin-top:-10px;
    }

.box2 {padding-bottom:30px;-webkit-box-shadow: 0 0px 20px -10px black !important;
	   -moz-box-shadow:0 0px 20px -10px black !important;
	        box-shadow:0 0px 20px -10px black !important; border-radius:10px;
}

.free-parking-card {
    margin: 0 auto 1rem;
    position: relative;
    padding: 25px 30px 14px 7rem !important;
   /*margin: 0 10px 70px;*/ 
    text-align: left;
}
.free-parking-card__text {
    color: #6e767d;
    font-weight: 700;
    
    padding: 0 1.5rem;
    border-left: 2px dashed #ddd;
    font-size: 1rem;
}
.free-parking-card__title {
    font-size: 1.2rem;
    color: #50565a;
}
.free-parking-card__desc {
    font-size: 0.8rem;
    color: #6e767d;
}
.free-parking-card__btn {
    position: absolute;
    background:#7AB731;
    color: #fff;
    font-size: 1rem;
    padding: 0.7rem 1.5rem;
    border-radius: 3px;
    height: 2.3rem;
    line-height:13px;
    top: 20px;
    right: 30px;
    bottom: 0;
    margin: auto;
}
.free-parking-card::before {
    content: "";
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: auto;
    width: 7rem;
    height: 7rem;
    background-image: url(..\img\earnings-card.png) ;
    background-repeat: no-repeat;
   
    margin: 0 30px;
    width: 250px;
    /*background: url(..\Content\img\earnings-card.png) no-repeat 50%;*/
    background-size: 51px 36px;
}
.profile-completion-section {
    clear: both;
padding: 10px 20px;
margin: 5px;
background: #fff;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #eee;
position: relative;
}
.profile-completion-section h6 {
    border-bottom: 1px solid #eee;
    font-size: 12px;
    font-weight:bold;
    margin: 0;
    padding: 0 0 1px;
    position: relative;
    text-align:left;
}

.dashboard-home{
    position: relative;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    margin: 0;
    padding: 5px 0 1px;
    height:35px;
    
}
.control { padding-top:5px;
}
.controls { padding-top:3px; font-size:16px;
}
/*.controls { padding-top:3px; font-size:13px; font-weight:bold;
}*/
    .dashboard-home:last-child {
        border-bottom: none !important;
    }
.control-label { color:black; font-size:14px;
}
.progress {
    background-color: #f7f7f7;
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 18px;
    margin-bottom: 10px;
    overflow: hidden;
    margin-top:10px;
}
.progress .bar {
    background-color: #0e90d2;
    background-image: linear-gradient(to bottom, #149bdf, #0480be);
    background-repeat: repeat-x;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    box-sizing: border-box;
    color: #fff;
    float: left;
    font-size: 12px;
    height: 100%;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: width 0.6s ease 0s;
    width: 0;
}



/*.section-bookings h6 {
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    margin: 0;
    padding: 0 0 1px;
    position: relative;
}

.section-bookings .utils {
    position: absolute;
    right: 10px;
    top: 9px;
}*/

.dashboard-home .section-bookings, .dashboard-home .section-info, .dashboard-home .section-messaging {
    margin: 20px 0 10px;
}
.section {
    border-color: #eee;
}
.section {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    border-radius: 6px;
    clear: both;
    margin-top: 10px;
    padding-top: 10px;
    position: relative;
}
 .section h6 {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    margin: 0;
    padding: 0 0 1px 10px;
    position: relative;
    font-weight:bold;
}
 .utils {
    position: absolute;
    right: 10px;
    top: 9px;
}

.tooltip {
    position: relative;
    display: inline-block;
    /*border:1px solid black;*/
    font-size:12px;
    padding:5px;
    color:#fff;
    border-radius:100%;
    background-color:green;
    
   
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color:#1F2E46;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
    font-family:"Abel",sans-serif;
    font-size:14px !important;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #1F2E46 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

