﻿@model TrueWheels.Web.Models.UpdateCred

@{
    ViewBag.Title = "ForgotPassword";
}
<script type="text/javascript">
    jQuery(document).ready(function ($) {

        var sessionValue = $("#hdnSession").data('value')
        alert(sessionValue)
    });
</script>

@if(null != TempData["ErrorMessage"])
   {
        <script type="text/javascript">
             alert("@TempData["ErrorMessage"]");
        </script>
   }
@Scripts.Render("~/bundles/Forgotpassjs")

@if (Session["OTPConfirmed"] == null)
{
    { Html.BeginForm("forgotPassword", "TrueWheelsUser", FormMethod.Post); }

    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" style="padding-bottom:30px;-webkit-box-shadow: 0 0px 20px -10px black;
	   -moz-box-shadow:0 0px 20px -10px black;
	        box-shadow:0 0px 20px -10px black; border-radius:5px;">
                <form role="form">
                    <fieldset>
                        <div class="module-title">
                            <h2>Forgot Password? </h2>
                            </div>
                        <br />
                        @*@if (TempData["ErrorMessage"] != null)
                        {
                            <p>@Html.Encode(TempData["ErrorMessage"])</p>
                        }*@
                            @Html.ValidationMessageFor(model => model.mobile)
                            <div class="row">

                                <div class="form-group col-xs-8 col-sm-8 col-md-8 ">
                                    @*<input type="text" name="Mobile" id="Mobile" class="form-control input-lg" placeholder="Mobile No.">*@
                                    @Html.TextBoxFor(m => m.mobile, new { @class = "form-control input-lg", @placeholder = "Mobile No.", @tabindex = "1", @type = "text" })
                                </div>
                                <div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1" style="padding-top:4px;">
                                        <input type="submit" class="btn-blue1" id="Login" value="Proceed">
                                    </div>
                                    <input type="hidden" id="hdnSession" data-value="@Request.RequestContext.HttpContext.Session["OTPConfirmed"]" />
                                </div>

                            </div>



</fieldset>
                </form>
                <form></form>
            </div>
        </div>
    </div>
{ Html.EndForm(); }
}
else if(Session["OTPConfirmed"] != null && (Session["OTPConfirmed"]).ToString().ToUpper() == "TRUE")
{
    {
        Html.BeginForm("ChangePassword", "ForgotPassword", FormMethod.Post);
      }

        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row" style="margin-top:20px">
                <div class="form-horizontal">
                    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                        <form role="form">
                            <fieldset>
                                <h2>Change Password</h2>
                                <hr class="colorgraph">
                                @Html.ValidationMessageFor(model => model.password)
                                @Html.ValidationMessageFor(model => model.confirmPassword)
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.password, new { @class = "form-control input-lg", @placeholder = "Password", @tabindex = "5", @type = "password" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.confirmPassword, new { @class = "form-control input-lg", @placeholder = "Confirm Password", @tabindex = "6", @type = "password" })
                                </div>
                               
                                <hr class="colorgraph">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-xs-offset-9 col-sm-offset-9 col-md-offset-9">
                                        <input type="submit" class="btn btn-lg btn-success btn-block" id="Login" value="OK">
                                    </div>
                                   
                                </div>
                            </fieldset>
                        </form>
                    </div>

                </div>
            </div>
          
        </div>

   { Html.EndForm(); }
}





<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


