﻿@model TrueWheels.Web.Models.UserLogin

@*<script src="~/Content/js/vendor/jquery-1.10.2.min.js"></script>*@
@Styles.Render("~/Content/Login/css/Signupstyle")
<script src="https://apis.google.com/js/platform.js" async defer></script>
@Scripts.Render("~/bundles/Commonjs")
<meta name="google-signin-client_id" content="329612838566-1pu74p6smu6ur7omqvs0rb5vq8jftqf3.apps.googleusercontent.com">
<script src="http://connect.facebook.net/en_US/all.js#appId=1363381040409841&xfbml=1"></script>


<script src="https://apis.google.com/js/client:platform.js" async defer></script>


<script type="text/javascript">
    function dosomething(firstName, lastName, emailId, fB_id, pic_url,REQFrom) {
        @*var url = '@Url.Action("SignUp", "TrueWheelsUser")';*@

        //alert(url + "  " + url1);
        if (REQFrom =='FB') {
            //  alert(REQFrom);
            var url = "/TrueWheelsUser/SignUpWithFB";
            $.post(url, { FirstName: firstName, LastName: lastName, EmailId: emailId, FB_id: fB_id, Pic_url: pic_url }, function (data) {
                // $("#msg").html(data);
                if (data == "True") {
                    var url = "/UserDashbaord/Index";
                    window.location = "http://" + window.location.host + url;
                }

            })
        }
    else if (REQFrom =='GG') {
        // alert(REQFrom);
        var url = "/TrueWheelsUser/SignUpWithGG";
        $.post(url, { Fullname: firstName, EmailId: emailId, GG_id: fB_id, Pic_url: pic_url }, function (data) {
            // $("#msg").html(data);
            if (data == "True") {
                var url = "/UserDashbaord/Index";
                window.location = "http://" + window.location.host + url;
            }

        })
    }


    }


</script>
<script src="~/Scripts/jquery.min.js"></script>

<script type="text/javascript">

    var gpLogin = function () {
        debugger
        var myParams = {
            'clientid': '329612838566-1pu74p6smu6ur7omqvs0rb5vq8jftqf3.apps.googleusercontent.com',
            'cookiepolicy': 'single_host_origin',
            'callback': 'mySignInCallback',
            'scope': 'https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email',
            'requestvisibleactions': 'http://schema.org/AddAction'
        };
        gapi.auth.signIn(myParams);
        googleUser = auth2.currentUser.get();

        //ssgapi.auth.init();
        //const googleUser = gapi.auth.getAuthInstance().currentUser.get();
        var profile = googleUser.getBasicProfile();
        // alert("ppp");
        dosomething(profile.getName(), '', profile.getEmail(), profile.getId(), profile.getImageUrl(), 'GG'); //signup

    };

    var mySignInCallback = function (authResult) {
        if (authResult['status']['signed_in'] && authResult['status']['method'] === 'PROMPT') {
            gapi.client.load('plus', 'v1', loadProfile);
        }
    };
    var loadProfile = function () {
        var request = gapi.client.plus.people.get({ 'userId': 'me' });
        var data = request.execute(loadProfileCallback);

        // request = gapi.client.plus.people.list({ 'userId': 'me', 'collection': 'visible' });
        //var data= request.execute(loadFriendsCallback);
        //dosomething(data.fullname, '', data.email, data.id, data.image, 'GG'); //signup
    };

    var loadProfileCallback = function (obj) {
        var data = {};

        data.email = obj['emails'].filter(function (v) {
            return v.type === 'account'; // Filter out the primary email
        })[0].value; // get the email from the filtered results, should always be defined.

        data.image = obj.image.url.replace('?sz=50', '');
        data.fullname = obj.name.givenName + ' ' + obj.name.familyName;
        data.id = obj.id;
        dosomething(data.fullname, '', data.email, data.id, data.image, 'GG'); //signup
    };

    var loadFriendsCallback = function (obj) {
        if (obj.items.length === 0) return;

        var i = 0;
        for (i = 0; i < obj.items.length; i++) {
            if (obj.items[i].objectType === 'person') {
                var friend = {};
                friend.id = obj.items[i].id;
                friend.type = 'gplus';
                friend.name = obj.items[i].displayName;
                friend.image = obj.items[i].image.url;
                friend.url = obj.items[i].url;
                friends.push(friend);
            }
        }

        if (obj.nextPageToken !== undefined) {  // Get the next N friends
            var request = gapi.client.plus.people.list({ 'userId': 'me', 'collection': 'connected', 'pageToken': obj.nextPageToken });
            request.execute(loadFriendsCallback);
        }
    };
</script>


<script type="text/javascript">
    FB.init({
        appId: '1363381040409841',
        status: true,
        cookie: true,
        xfbml: true
    });
    function callFBLogin() {
        FB.login(function (response) {
            if (response.authResponse) {
                FB.api('/me', { fields: 'id,name,email,verified,birthday,first_name,last_name,picture' }, function (response) {
                    //  alert("Recieved information: " + JSON.stringify(response))
                    // alert(response.data.url)

                    //FB.api('/me/?fields=picture', function (response) {
                    //   $("#user-photo").attr('src', response.picture.data.url).show();
                    //})

                    dosomething(response.first_name, response.last_name, response.email, response.id,response.picture.data.url,'FB'); //signup
                    // @*@Url.Action("SignUp", "TrueWheelsUser")*@
                    // You can send the required information to the server side for your custom needs
                    // (like creating a local user for the site when somebody logs into the system using
                    // facebook first time etc) from here.
                });
            } else {
                alert("Access not authorized.");
            }
        }, { scope: 'email' });
    }
</script>


<script>
    window.onload = function () {
        // Put your logic here.
        // alert("hhhh");
        var auth2 = signOut();
        FB.logout(function (response) {
            // Person is now logged out
        });
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container" style="margin-bottom:30px;">



        <div class="row">
            <div class="form">
                <br /><br />
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 box2">
                    @Html.ValidationSummary(true)
                    <form role="form">


                        <fieldset>
                            <div class="module-title">
                                <h2>Please Sign In</h2>
                            </div>

                            <div class="row">
                                @*<a href="#" class="btn btn-success btn-block btn-lg">Sign In</a>*@
                                <div class="col-xs-12 col-md-6">
                                    <a id="btn-fblogin" href="#" class="btn btn-raised btn-facebook btn-block" onclick="callFBLogin();">Login with Facebook</a>

                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a id="gSignIn" href="#" class="btn btn-raised btn-google-plus btn-block" onclick="gpLogin();">Sign In with Google</a>
                                    @*<input class=" btn btn-raised btn-google-plus btn-block" type="button" id="gSignIn" onclick="gpLogin;" value="Sign In with Google">*@
                                    @*<a id="btn-Glogin" href="#" class="btn btn-primary">Connect with Google</a>*@

                                </div>




                            </div>
                            <br />
                            <div class="form-group">
                                <input type="text" name="UserName" id="UserName" class="form-control input-lg" placeholder="Mobile No.">
                            </div>
                            <div class="form-group">
                                <input type="password" name="Password" id="Password" class="form-control input-lg" placeholder="Password">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="button-checkbox">
                                        @*<button type="button" class="btn" data-color="info">Remember Me</button>*@
                                        <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">
                                        <a href="@Url.Action("ForgotPassword", "TrueWheelsUser")" class="pull-right">Forgot Password?</a>
                                        @*<a href="" class="btn btn-link pull-right" data-toggle="modal" style="visibility:hidden" data-target=".bs-example-modal-lg">Forgot Password?</a>
                                            <button type="button" id="btn" class="btn btn-primary" data-toggle="modal" style="visibility:hidden" data-target=".bs-example-modal-lg">Windows 8 modal - Click to View</button>*@
                                    </span>
                                </div>
                            </div>
                            <br />

                            <div class="row pull-right">
                                <div class="col-xs-6 col-sm-6 col-md-6">

                                    @*<button type="button" class="read-more">Login<i class="uk-icon-chevron-right"></i></button>*@
                                    <input type="submit" class="btn-bluelogin" id="Login" value="Login">
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6" style="margin-top:7px;">
                                    <a href="@Url.Action("SignUp", "TrueWheelsUser")" class="btn-blue1">SignUp</a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">

                        <h2>OTP Verification!</h2>
                        <h4>Verify OTP Sent on your Phone Number.</h4>
                        <p class="text-danger">
                            @ViewBag.Error
                        </p>
                        <div style="padding: 15px; padding-bottom: 0px;">
                            <form method="post" action="VerifyOTP" accept-charset="UTF-8">
                                <input style="margin-bottom: 15px;" type="text" placeholder="Enter 6 digit OTP" id="OTP" pattern="{3}[0-9]{4}" maxlength="6" name="OTP">

                                <input class="btn btn-primary" type="submit" id="Verify" value="Confirm" formaction="VerifyOTP" formmethod="post" />
                                <label style="text-align:center;margin-top:5px">or</label>
                                <input class="btn btn-primary" type="submit" id="ResendOTP" value="Resend OTP" formaction="ResendOTP" formmethod="post" />

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
