﻿
@{
    ViewBag.Title = "PrivacyPolicy";
}
@Styles.Render("~/Content/css/Homestyle")
<div class="container-fluid" style="margin-bottom:50px; margin-top:30px;">

    <div class="sec-title text-center wow animated fadeInDown">
        <h2>Privacy Policy</h2>

    </div>

</div>

