﻿@model TrueWheels.Web.Models.SignupViewModel

@{
    ViewBag.Title = "SignUp";
   @Styles.Render("~/Content/Login/css/Signupstyle")
    @Styles.Render("~/Content/css/Signupstyle2")
    @Scripts.Render("~/bundles/Signupjs")
    @Scripts.Render("~/bundles/ScrriptsJQuery")
    
    
     <meta name="google-signin-client_id" content="717031547264-1ohh8jsngpau2566pk65opgj3mleum8g.apps.googleusercontent.com">
    <script src="http://connect.facebook.net/en_US/all.js#appId=1363381040409841&xfbml=1"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=renderButton" async defer></script>
        
     <script type="text/javascript">
        function dosomething(firstName, lastName, emailId, fB_id, pic_url,REQFrom) {
            @*var url = '@Url.Action("SignUp", "TrueWheelsUser")';*@

            
            if (REQFrom =='FB') {
                //alert(REQFrom);
                var url = "/TrueWheelsUser/SignUpWithFB";
                $.post(url, { FirstName: firstName, LastName: lastName, EmailId: emailId, FB_id: fB_id, Pic_url: pic_url }, function (data) {
                    // $("#msg").html(data);
                    if (data == "True") {
                        var url = "/UserDashbaord/Index";
                        window.location = "http://" + window.location.host + url;
                    }

                })
            }
            else if (REQFrom =='GG') {
                //alert(REQFrom);
                var url = "/TrueWheelsUser/SignUpWithGG";
                fB_id = String(fB_id);
               // alert(fB_id);
                $.post(url, { Fullname: firstName, EmailId: emailId, GG_id: fB_id, Pic_url: pic_url }, function (data) {
                    // $("#msg").html(data);
                    if (data == "True") {
                        var url = "/UserDashbaord/Index";
                        window.location = "http://" + window.location.host + url;
                    }

                })
            }

           
        }


    </script>
<script src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript">
        //function onSignIn(googleUser) {
        //    var profile = googleUser.getBasicProfile();
        //    dosomething(profile.getName(), '', profile.getEmail(), profile.getId(), profile.getImageUrl(), 'GG'); //signup
        //}
        function onSuccess(googleUser) {
            var profile = googleUser.getBasicProfile();
            dosomething(profile.getName(), '', profile.getEmail(), profile.getId(), profile.getImageUrl(), 'GG'); //signup
            gapi.client.load('plus', 'v1', function () {
                var request = gapi.client.plus.people.get({
                    'userId': 'me'
                });
                //Display the user details
                request.execute(function (resp) {
                    //alert("hi");
                   // dosomething(resp.givenName, '', resp.email, resp.id, resp.image.url);

                    //var profileHTML = '<div class="profile"><div class="head">Welcome ' + resp.name.givenName + '! <a href="javascript:void(0);" onclick="signOut();">Sign out</a></div>';
                    //profileHTML += '<img src="' + resp.image.url + '"/><div class="proDetails"><p>' + resp.displayName + '</p><p>' + resp.emails[0].value + '</p><p>' + resp.gender + '</p><p>' + resp.id + '</p><p><a href="' + resp.url + '">View Google+ Profile</a></p></div></div>';
                    //$('.userContent').html(profileHTML);
                    //$('#gSignIn').slideUp('slow');
                });
            });
        }
        function onFailure(error) {
            alert(error);
        }
        //function renderButton() {
        //    gapi.signin2.render('gSignIn', {
        //        'scope': 'profile email',
        //        'width': 240,
        //        'height': 50,
        //        'longtitle': true,
        //        'theme': 'dark',
        //        'onsuccess': onSuccess,
        //        'onfailure': onFailure
        //    });
        //}
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                $('.userContent').html('');
                $('#gSignIn').slideDown('slow');
            });
        }
    </script>
        <script type="text/javascript">
                function login(googleUser) {
                   
                    var myParams = {
                        'clientid': '329612838566-1pu74p6smu6ur7omqvs0rb5vq8jftqf3.apps.googleusercontent.com',
                        'cookiepolicy': 'single_host_origin',
                        'callback': 'mySignInCallback',
                        'scope': 'https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email',
                        'requestvisibleactions': 'http://schema.org/AddAction'
                    };
                    gapi.auth.signIn(myParams);
                    googleUser = auth2.currentUser.get();

                    //ssgapi.auth.init();
                    //const googleUser = gapi.auth.getAuthInstance().currentUser.get();

                    var profile = googleUser.getBasicProfile();
                    dosomething(profile.getName(), '', profile.getEmail(), profile.getId(), profile.getImageUrl(), 'GG'); //signup
                    gapi.client.load('plus', 'v1', function () {
                        var request = gapi.client.plus.people.get({
                            'userId': 'me'
                        });
                        //Display the user details
                        request.execute(function (resp) {
                            //alert("hi");
                            // dosomething(resp.givenName, '', resp.email, resp.id, resp.image.url);

                            //var profileHTML = '<div class="profile"><div class="head">Welcome ' + resp.name.givenName + '! <a href="javascript:void(0);" onclick="signOut();">Sign out</a></div>';
                            //profileHTML += '<img src="' + resp.image.url + '"/><div class="proDetails"><p>' + resp.displayName + '</p><p>' + resp.emails[0].value + '</p><p>' + resp.gender + '</p><p>' + resp.id + '</p><p><a href="' + resp.url + '">View Google+ Profile</a></p></div></div>';
                            //$('.userContent').html(profileHTML);
                            //$('#gSignIn').slideUp('slow');
                        });
                    });

                    //var myParams = {
                    //    'clientid': '717031547264-1ohh8jsngpau2566pk65opgj3mleum8g.apps.googleusercontent.com', //You need to set client id
                    //    'cookiepolicy': 'single_host_origin',
                    //    'callback': 'loginCallback', //callback function
                    //    'approvalprompt': 'force',
                    //    'fetch_basic_profile': 'true',
                    //    'scope': 'https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.profile.emails.read'
                    //    //, 'onsuccess': 'onSignIn'
                    //};
                    //gapi.signin2.render('gSignIn', {
                    //    'scope': 'profile email',
                    //    'width': 240,
                    //    'height': 50,
                    //    'longtitle': true,
                    //    'theme': 'dark',
                    //    'onsuccess': onSuccess,
                    //    'onfailure': onFailure
                    //});
           
                    // dosomething('test', profile.getName(), profile.getEmail(), profile.getId(), profile.getImageUrl()); //signup
           
                }

        var mySignInCallback = function (authResult) {
            if (authResult['status']['signed_in'] && authResult['status']['method'] === 'PROMPT') {
                gapi.client.load('plus', 'v1', loadProfile);
            }
        };
        var loadProfile = function () {
            var request = gapi.client.plus.people.get({ 'userId': 'me' });
            var data = request.execute(loadProfileCallback);

            // request = gapi.client.plus.people.list({ 'userId': 'me', 'collection': 'visible' });
            //var data= request.execute(loadFriendsCallback);
            //dosomething(data.fullname, '', data.email, data.id, data.image, 'GG'); //signup
        };

        var loadProfileCallback = function (obj) {
            var data = {};

            data.email = obj['emails'].filter(function (v) {
                return v.type === 'account'; // Filter out the primary email
            })[0].value; // get the email from the filtered results, should always be defined.

            data.image = obj.image.url.replace('?sz=50', '');
            data.fullname = obj.name.givenName + ' ' + obj.name.familyName;
            data.id = obj.id;
            dosomething(data.fullname, '', data.email, data.id, data.image, 'GG'); //signup
        };

        var loadFriendsCallback = function (obj) {
            if (obj.items.length === 0) return;

            var i = 0;
            for (i = 0; i < obj.items.length; i++) {
                if (obj.items[i].objectType === 'person') {
                    var friend = {};
                    friend.id = obj.items[i].id;
                    friend.type = 'gplus';
                    friend.name = obj.items[i].displayName;
                    friend.image = obj.items[i].image.url;
                    friend.url = obj.items[i].url;
                    friends.push(friend);
                }
            }

            if (obj.nextPageToken !== undefined) {  // Get the next N friends
                var request = gapi.client.plus.people.list({ 'userId': 'me', 'collection': 'connected', 'pageToken': obj.nextPageToken });
                request.execute(loadFriendsCallback);
            }
        };

        </script>



    <script type="text/javascript">
         FB.init({
             appId: '1363381040409841',
            status: true,
            cookie: true,
            xfbml: true
        });
        function callFBLogin() {
            FB.login(function (response) {
                if (response.authResponse) {
                    FB.api('/me', { fields: 'id,name,email,verified,birthday,first_name,last_name,picture' }, function (response) {
                        //alert("Recieved information: " + JSON.stringify(response))
                        // alert(response.data.url)

                        //FB.api('/me/?fields=picture', function (response) {
                        //   $("#user-photo").attr('src', response.picture.data.url).show();
                        //})

                        dosomething(response.first_name, response.last_name, response.email, response.id,response.picture.data.url,'FB'); //signup
                        // @*@Url.Action("SignUp", "TrueWheelsUser")*@
                        // You can send the required information to the server side for your custom needs
                        // (like creating a local user for the site when somebody logs into the system using
                        // facebook first time etc) from here.
                    });
                } else {
                    alert("Access not authorized.");
                }
            }, { scope: 'email' });
        }
    </script>

   

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        @*<img id="user-photo" src="#" style="display: none;" />*@
    
    <div class="container-fluid" style="margin-bottom:50px; margin-top:30px;">

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 box2" style="">
                @Html.ValidationSummary(true)
                <form role="form">
                    <div class="module-title">
                        <h2 style="font-size:30px;">Please Sign Up.</h2>
                    </div>
                  
                    <div class="row">
                        @*<a href="#" class="btn btn-success btn-block btn-lg">Sign In</a>*@
                        <div class="col-xs-12 col-md-6">
                            <a id="btn-fblogin" href="#" class="btn btn-raised btn-facebook btn-block" onclick="callFBLogin();">Login with Facebook</a>

                        </div>
                        <div class="col-xs-12 col-md-6">
                         
                            @*<div id="gSignIn"  style="height:8px;"></div>*@
                            <input class=" btn btn-raised btn-google-plus btn-block" onclick="login();" type="button" id="gSignIn" value="Sign In with Google">
                          

                        </div>




                    </div>
                    <br />

                    @Html.ValidationMessageFor(model => model.FirstName)
                    <div class="row">

                        <div class="col-xs-12 col-sm-6 col-md-6">

                            <div class="form-group">

                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control input-lg", @placeholder = "First Name", @tabindex = "1", @type = "text" })
                                @*<input type="text" name="FirstName" id="FirstName" class="form-control input-lg" placeholder="First Name" tabindex="1">*@
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                @*<input type="text" name="LastName" id="LastName" class="form-control input-lg" placeholder="Last Name" tabindex="2">*@
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control input-lg", @placeholder = "Last Name", @tabindex = "2", @type = "text" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.ValidationMessageFor(model => model.Mobile)
                        @Html.TextBoxFor(m => m.Mobile, new { @id = "Mob", @class = "form-control input-lg", @placeholder = "Mobile", @tabindex = "3" })
                        @*<input type="text" name="Mobile" id="Mobile" class="form-control input-lg" placeholder="Mobile" tabindex="3">*@
                    </div>

                    <div class="form-group">
                        @*<input type="email" name="EmailId" id="EmailId" class="form-control input-lg" placeholder="Email Address" tabindex="4">*@
                        @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control input-lg", @placeholder = "Email Id", @tabindex = "4", @type = "text" })
                    </div>
                    <div class="row">
                        @Html.ValidationMessageFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                       <div class="col-md-12">
                           <div class="col-xs-12 col-sm-6 col-md-6 password1">
                               <div class="form-group">

                                   @Html.TextBoxFor(m => m.Password, new { @class = "form-control input-lg", @placeholder = "Password", @tabindex = "5", @type = "password" })
                                   @*<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">*@
                               </div>
                           </div>
                           <div class="col-xs-12 col-sm-6 col-md-6 password2">
                               <div class="form-group">

                                   @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control input-lg", @placeholder = "Confirm Password", @tabindex = "6", @type = "password" })
                                   @*<input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">*@
                               </div>
                           </div>

                       </div>
                       
                    </div>
                    <br />
                    <div class="row">
                        @*<div class="col-xs-4 col-sm-2 col-md-2">
                            <span class="button-checkbox">
                                <button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>
                                <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
                            </span>
                        </div>*@
                        <div class="col-xs-12 col-sm-12 col-md-12 terms1">
                            By clicking <strong class="label label-primary">Register</strong>, you agree to the
    <a href="@Url.Action("TermsCondition", "TrueWheelsUser")" >Terms and Conditions</a> set out by this site, including our Cookie Use.
</div>
                    </div>
                    <br />

                    <fieldset>
                        <div class="row pull-right">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                               
                                <input type="submit" class="btn-blue1" value="Register" tabindex="7">
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <a href="@Url.Action("Login", "TrueWheelsUser")" class="btn-blue1">SignIn</a>
                                @*<input value="Sign In" type="submit" class="btn-blue1" style="" tabindex="7" onclick="location.href= '@Url.Action("Login", "TrueWheelsUser")'">*@
                            </div>
                        </div>
                    </fieldset>
                    <br />
                    
                </form>
            </div>














        </div>
    </div>
}



