﻿@{
    ViewBag.Title = "TermsCondition";
}
@Styles.Render("~/Content/css/Homestyle")


    
    
    <div class="container" style="margin-bottom:50px; margin-top:30px;">

        <div class="sec-title text-center wow animated fadeInDown">
            <h2>Terms & Condition</h2>

        </div>
        <p>Welcome to True Wheel, provider of Parking solutions and many other solutions for your wheel. By using the TrueWheel.in website and App (the "Site and App") or the True Wheel App , you agree to be bound by the following terms and conditions (the "Terms of Use" or "Agreement"). As used in this Agreement, True Wheel, will be referred to as "True Wheel" or "we," and you will be referenced as "you". This Agreement incorporates by reference the following policies and documents also found on this Site and App and App: Privacy Policy Acceptance</p>
        <p>The following terms and conditions govern your use of the parking information, materials and documents being made available to you at this website and App and App, including, to the extent applicable, the Seller Console and other tools provided for users who sell parking ("Sellers") and the True Wheel API and other tools provided for users who are developers ("Developers") (collectively, the "Materials"). By using the Materials, you signify your agreement to all terms, conditions, and notices contained or referenced herein. If you do not agree to these Terms of Use please do not use this Site and App or App  or the Materials. We reserve the right, at our discretion, to update or revise these Terms of Use. Please check the Terms of Use periodically for changes. Your continued use of this Site and App or App  or the Materials following the posting of any changes to the Terms of Use constitutes acceptance of those changes.</p>
        <h2>Part I: General Terms and Conditions</h2>
        <h3>Reservation of Rights</h3>
        <ul class="serch_list">          

            <li>The True Wheel name and logo, and all related product and service names, design marks and slogans are the trademarks or registered trademarks of Ganeis Pvt Ltd. All other product and service marks contained herein are the trademarks of their respective owners. You may not use any True Wheel or third party trademarks or logos without the prior written consent of True Wheel or the applicable trademark owner.</li>
            <li>The service provided by True Wheel is limited to: (i) informing our customers of the location and apparent availability of parking, and (ii) providing customers the ability to book parking where applicable. Despite the convenience of our service, the decision to utilize parking information remains your responsibility and you assume that risk. The allocation of parking spaces within a lot is solely in the control of the lot attendant or uncontrolled if not attended. We therefore cannot be responsible for any consequences arising from the lack of suitable parking. In all cases the parking arrangement will be governed by the agreement with the operator of the parking facility as posted at their location or provided to you by them.</li>
            <li>For availability of parking Truewheels is not responsible we are only providing the information of parking place, availability is totally a concern of owner of parking.</li>
           // For clarification, True Wheel does not:
            
            <li>Provide a parking service, operate a parking lot or otherwise accept custody of motor vehicles. That service is provided by others and they are in no way our agents or acting in our behalf;</li>
            <li>Accept any responsibility whatsoever regarding the safety of persons or property in the locations selected by our customers;</li>
            <li>Warrant that the Internet, our website and App  or App or any email from us is free of ‘viruses’ or other potentially harmful effects;</li>
            <li>Endorse the use of cell-phones while driving;</li>
            <li>Guarantee the availability of a specific parking spot in the location you selected;</li>
            <li>Assume any responsibility whatsoever for the consequences of not being able to park, or delays associated with parking.</li>
           </ul>
        <p>This Site and App and App is intended for personal, non-commercial use (except by Sellers and Developers in accordance with the applicable terms and conditions set forth below). You may not use robots or other automated means to access this Site and App and App, unless specifically permitted by True Wheel. You represent that you are of sufficient legal age to create binding legal obligations for any liability you may incur as a result of your use of this Site and App and App. You agree to promptly update your membership information (if applicable) in order to keep it current, complete and accurate.</p>
        <p>Please be aware that even if you do not give us your real name, your Web browser transmits a unique Internet address to us that can be used by law enforcement officials to identify you. Fraudulent users will be prosecuted to the fullest extent of the law.</p>
        <p>Permission is granted to electronically copy and print in hard-copy portions of this Site and App and App for the sole purpose of using this Site and App and App as a shopping resource. Any other use of materials or Content on this Site and App and App, including reproduction for a purpose other than that noted above without True Wheel prior written consent is prohibited.</p>

         <br />
        <h3>Privacy Policy; Security</h3>
        <p>You confirm that you have read and accept our Privacy Policy, and agree that the terms of this policy are reasonable and satisfactory to you. You consent to the use of your personal information by Ganeis Pvt Ltd. and/or its third-party providers and distributors in accordance with the terms of, and for the purposes set forth in the Privacy Policy.</p>
        <p>True Wheel makes no representation or warranty, and hereby disclaims any and all liability, with regard to the sufficiency of the security measures used for data handling and storage. True Wheel will not be responsible for any actual or consequential damages that result from a security breach or technical malfunction.</p>
        <h3>User Comments, Feedback and Other Submissions</h3>
        <p>All comments, feedback, suggestions and ideas disclosed, submitted or offered to True Wheel in connection with your use of this Site and App and App (collectively, "Comments"), shall be and remain the exclusive property of True Wheel and may be used by True Wheel in any medium and for any purpose worldwide without obtaining your specific consent. For example, your Comments could be used on this Site and App and App and in radio, television and print advertisements. Your first name, first initial of your last name, and town and state may be used with any Comments you submit. True Wheel is not under any obligation to maintain your Comments (and the use of your first name and first initial of your last name with any comments) in confidence, to pay to you any compensation for any Comments submitted, or to respond to any of your Comments. You agree you will be solely responsible for the content of any Comments you make.</p>
        <h3>Links to Other Web Site and Apps and Services</h3>
        <p>To the extent this Site and App and App contains links to outside services and resources, any such links are provided for your convenience only. True Wheel does not control those outside services or resource providers, and is not responsible for their contents or practices, including their privacy practices. True Wheel does not endorse the operators of those outside services or resource providers, nor does it endorse or make any representations with respect to the contents of their web site and Apps or App  or any products or services offered on those web site and Apps or App. Any concerns regarding such services or resources should be directed to the particular outside service or resource provider. True Wheel does not guarantee or warrant the accuracy or completeness of the information or content included on the Web site and Apps or App of these outside services and resources.</p>
        <h3>User Accounts</h3>
        </p>In order to fully participate in all Site and App and App activities, you must register for a personal account on the Site and App or on App(a "User Account") by providing an email address ,Phone number and a password for your User Account . You agree that you will never divulge or share access or access information to your User Account with any third party for any reason. You also agree to that you will create, use, and access only one User Account, and that you will not access the Site and App or App using multiple User Accounts.</p>
        <h3>Ownership; Sublicensing</h3>
        <p>The Site and App and App contains various information in the form of data, text, graphics, and other materials from True Wheel and third parties (the "Site and App Content"). You acknowledge that this Site and App and various elements contained therein are protected by copyrights, trademarks, trade secrets, patents, or other proprietary rights, and that these worldwide rights are valid and protected in all forms, media, and technologies existing now and hereinafter developed. You also acknowledge that the Site and App Content is and shall remain the property of True Wheel or its licensors. You agree to comply with all intellectual property laws and you shall not encumber any interest in, or assert any rights to, the Site and App Content. You may not modify, transmit, participate in the sale or transfer of, or create derivative works based on any Site and App Content, in whole or in part.</p>
        <p>As between True Wheel and you: (i) True Wheel retains all rights, title and interest in and to all intellectual property rights embodied in or associated with the Site and App, including, without limitation, the API, Database, True Wheel Content, trademarks, and any and all True Wheel services and any content created or derived there from (collectively, the "True Wheel IP"); and (ii) you and, to the extent applicable, your suppliers retain all rights, title and interest in and to all intellectual property rights embodied in or associated with your site and App and your Application, excluding (i) above and any other intellectual property rights owned by True Wheel. There are no implied licenses under this Agreement, and any rights not expressly granted to you hereunder are reserved by True Wheel or its suppliers. You shall not take any action inconsistent with True Wheel’s ownership of True Wheel IP. Neither party shall exceed the scope of the licenses granted hereunder. All license rights (under any applicable intellectual property right) granted herein are not sublicense able, transferable or assignable.</p>
        <h3>Uptime</h3>
        <p>True Wheel makes no guarantees with respect to the availability or uptime of the True Wheel Site and App, the API, the True Wheel Content or the Database. True Wheel may conduct maintenance on any of the foregoing at any time with or without notice to you.</p>
        <h3>Termination of Usage</h3>
        <p>User access to all or part of this Site and App may be terminated or suspended at any time, without notice and for any reason.</p>
        <h3>Disclaimer and Liability Limit</h3>
        <p>The Site and App, the Site and App Content, the API, the Database, and any other materials and products on this Site and App are provided "as is" and without warranties of any kind, whether express or implied. True Wheel assumes no responsibility for the accuracy of any information contained on its Site and App, for any interruptions or errors in accessing its Site and App, or for any viruses or other harmful components contained on its Site and App or the server from which its Site and App is made available. True Wheel makes no warranties or representations regarding the use of the materials on its Site and App in terms of their correctness, accuracy, adequacy, usefulness, timeliness, reliability or otherwise. TRUE WHEEL DOES NOT MAKE, AND HEREBY DISCLAIM, ANY AND ALL WARRANTIES OF ANY KIND WITH RESPECT TO ITS SITE AND APP OR THE PRODUCTS OR SERVICES OFFERED THROUGH ITS SITE AND APP, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT OR ANY WARRANTIES ARISING FROM A COURSE OF PERFORMANCE, A COURSE OF DEALING OR TRADE USAGE.</p>
        <p>UNDER NO CIRCUMSTANCES WILL TRUE WHEEL OR ITS OFFICERS, DIRECTORS, MEMBERS, MANAGERS, EMPLOYEES, AGENTS, SUPPLIERS OR SUCCESSORS BE LIABLE TO ANY PERSON FOR ANY DIRECT, SPECIAL, INCIDENTAL, PUNITIVE, INDIRECT OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, LOSS OF PROFITS OR REVENUES, LOST DATA OR INFORMATION, LOSS OF USE OF ITS SITE AND APP, BUSINESS INTERRUPTION, LOSS OF BUSINESS REPUTATION OR GOODWILL, COSTS OF SUBSTITUTE SERVICES, OR DOWNTIME COSTS) RELATING TO THE SITE AND APP OR THE PRODUCTS OR SERVICES OFFERED ON ITS SITE AND APP OR RESULTING FROM ACCESS TO OR OTHER USE OF ITS SITE AND APP OR RELIANCE ON ANY INFORMATION PRESENTED ON ITS SITE AND APP, EVEN IF TRUE WHEEL IS INFORMED IN ADVANCE OF THE POSSIBILITY OF SUCH DAMAGES AND NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY.</p>
        <p>True Wheel’s liability to you or anyone else in any circumstance is limited to the lesser of (a) $100, and (b) the total dollar amount of all parking booked via True Wheel in the 12 months prior to the action allegedly giving rise to liability. Some jurisdictions do not allow the exclusion or limitation of incidental or consequential damages, so the above exclusions or limitations may not apply to you.</p>
        <p>Some jurisdictions do not allow exclusion of certain warranties or limitations of liability, so the above limitations or exclusions may not apply to you. True Wheel’s liability in such case will be limited to the greatest extent permitted by law.</p>
        <h3>Copyright Complaints</h3>
        <p>If you believe this Site and App contains any content that infringes your copyright, please contact our Copyright Agent, as detailed below, with the following information:</p>
        <p>An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest;</p>
        <p>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent or the law; and</p>
        <p>A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or duly authorized to act on the copyright owner’s behalf.</p>
        <p>To contact our Copyright Agent, please email to Info@TrueWheel.in</p>

        <h3>Governing Law</h3>
        <p>This Agreement shall be governed by and interpreted in accordance with the laws of the specific city of operation (such as Delhi, Lucknow, Noida, Gurgaon, Gaziabad, India), without regard to its provisions governing conflicts of law. If True Wheel alleges that you have infringed or threatened to infringe its intellectual property rights, then, in addition to any other rights and remedies True Wheel may have, True Wheel may also seek any preliminary or permanent injunctive relief from any court of competent jurisdiction. You submit to the exclusive jurisdiction of the state and federal courts located in the operating city (such as Delhi, India) and waive any jurisdictional, venue, or inconvenient forum objections to such courts.</p>

        <h3>Modification</h3>
        <p>True Wheel may at any time modify these Terms of Use and your continued use of this Site and App will be conditioned upon the terms and conditions in force at the time of your use.</p>

        <h2>Part II: Additional Terms and Conditions Specific to Buyers</h2>
        <h3>Booked Parking Usage</h3>
        <p>Users who book and pay for parking through the True Wheel Site and App ("Buyers") must present the True Wheel booking Id to the Parking Operator in accordance with the instructions included with the booking to receive their guaranteed parking space on the day of reservation. If the Buyer does not present the Booking ID to the Seller, the driver will not get credit for their online payment and this online payment will not be refunded at a later date.</p>
        <p>Buyers are responsible for ensuring they arrive at the correct time at their booked parking location. True Wheel is not liable for road closures or changing traffic conditions.</p>
        <p>The parking reserved is valid only for the times listed on the parking pass.</p>
        <p>If a parking facility allows tailgating on its premises, it is the customer’s responsibility to comply and check any local city ordinance codes on what is permissible (e.g., no open flames, no cooking, etc.).</p>
        <p>Sharing of True Wheel Booking ID is not permitted.</p>

        <h3>Cancellations and Refunds</h3>
        <p>Parking reserved and paid for through True Wheel is fully refundable up to 1 hours before the start of the reservation unless noted otherwise. Parking customers can cancel their booking for any reason before this time. Cancellations must be submitted to the True Wheel website and App or app, and are not accepted via phone or email. Parking booked via True Wheel’s partner website and Apps is not refundable for any reason.</p>
        <p>Sellers will not be charged any fees for cancelled bookings.</p>
        <p>After 1 hours prior to the start of the parking reservation, all bookings are non-refundable, even if the Buyer was unable to use the parking.</p>
        <h3>Event Cancellations and Contingent Events</h3>
        <p>Unfortunately, the circumstances surrounding postponed events are unpredictable. Although we will try to help you resolve your parking situation, we are not responsible for postponed events, partial performances, or venue, date, or time changes. Refunds may or may not be issued. It will be based on the circumstances.</p>
        <h3>Pricing and Lowest Price Guarantee</h3>
        <p>All parking prices on True Wheel are set directly by the parking owner, not True Wheel.Parking advertised on True Wheel as "Lowest Price Guaranteed" is guaranteed to be the cheapest parking rate available for that specific time and parking location. Parking rates not advertised as "Lowest Price Guaranteed" may differ from the drive-up rates, if available.</p>

        <h2>Part III: Additional Terms and Conditions Specific to Sellers</h2>
        <h3>Order of Precedence</h3>
        <p>In the event that a Seller has entered into a separate written Seller Agreement with True Wheel and such Seller Agreement includes terms or conditions that conflict with the terms and conditions in this Part III, the terms and conditions of the Seller Agreement shall govern.</p>
        <h3>Seller Console</h3>
        <p>Subject to the terms and conditions of these Terms of Use, True Wheel hereby grants you a non- exclusive, non-transferable, non-sub licensable, revocable license to use the Seller Console and the information True Wheel provides or makes available to you in connection therewith, solely for internal business purposes. You will not (and will not permit any third party to) make any use or disclosure of the Seller Console that is not expressly permitted under this Agreement. Without limiting the foregoing, you will not (and will not permit any third party to): (i) reverse engineer, decompile, disassemble, or otherwise attempt to discern the source code, algorithms, file formats or interface protocols of the Seller Console or of any files contained in or generated by the Seller Console; (ii) copy, modify, adapt or translate the Seller Console, (iii) resell, distribute or sublicense the Seller Console, make the Seller Console available on a "service bureau" basis, or otherwise allow any third party to use or access the Seller Console, (iv) remove or modify any proprietary marking or restrictive legends placed on the Seller Console; or (v) use the Seller Console in violation of any applicable law or regulation. As between True Wheel and you, True Wheel retains title to and ownership of the Seller Console, including all copyrights and other intellectual property rights relating thereto. You will have no rights with respect to the Seller Console other than those expressly granted under this Agreement.</p>
        <h3>Fulfillment</h3>
        <p>By listing parking for booking on True Wheel, the Seller agrees to honor any parking sold. All information provided in the True Wheel listing must be accurate. If the Seller cannot fulfill the parking space or false information about the parking is provided, True Wheel will hold the Seller liable to reimburse the Buyer for their expense. Note: It is illegal to sell parking that you do not own, including street parking. Violation will result in immediate termination of your True Wheel account. True Wheel maintains the right to request proof of ownership to verify your authority to sell parking at a particular location.</p>
        <h3>Payment</h3>
        <p>True Wheel guarantees payment to the Seller for all bookings fulfilled by the Seller. Payment will be issued in the form of a printed check or electronic bank transfer at the Seller’s request, and will be processed in no more than 10 business days.</p>
        <p>Payment for mode Cash on Delivery, seller is responsible to collect the payment , True Wheel will no t take any responsibility for this mode of payment, and booking done through Cash mode, True Wheel take commission from seller as per our Agreement with seller. </p>
        <h3>Taxes</h3>
        <p>Seller assumes sole responsibility for filing and paying all relevant state and local taxes, except income taxes, on transactions originated by True Wheel, and shall include any applicable taxes in the Base Price set by Seller in the Seller Console. True Wheel shall have no obligation to collect or remit any tax amounts. Seller shall indemnify True Wheel and hold True Wheel harmless from and against all state and local taxes, except income/service taxes, imposed on True Wheel that relate to transactions originated by True Wheel .</p>
        <h3>Contact Information</h3>
        <p>The Buyer name and contact information is provided to Sellers for the sole purpose of ensuring the parking booking is fulfilled and may not be used by the Seller for any other purpose. Sellers must submit a phone number for each parking location they list on True Wheel. Buyers will be provided with this number to call in the event of a problem with their parking. Buyers will be eligible for a refund at the Seller’s expense if this number is not answered during the parking reservation period.</p>
        <h3>Making Adjustments</h3>
        <p>Sellers authorize us to withhold payment or charge their credit card account any amount owed to True Wheel if (a) a sale is cancelled for any reason; (b) an adjustment is made under our True Wheel Guarantee; (c) we reasonably believe that a Seller has committed fraud or other illegal act or omission during any buying or selling activity; (d) Seller provides incorrect or misrepresented parking and/or parking related services for any booking or portion thereof.</p>

        <h3>Dispute Resolution</h3>
        <p>The True Wheel Guarantee provides Buyers the protection and motivation to book their parking at True Wheel. Thus, we require True Wheel sellers to comply with our resolution process in case a Buyer files a claim that they did not receive parking as per the terms of the True Wheel Guarantee. Sellers permit us to make a final decision, in our sole discretion, on any claim that a Buyer files with True Wheel under the True Wheel Guarantee. If we resolve a dispute in the Buyer’s favor, we will refund the Buyer for the cost of the parking, and we will require the Seller to reimburse us for the refund. Any True Wheel fees for the booking will be refunded to the Seller. A warning notice will also be sent to the Seller.</p>
        <h3>Grant of License</h3>
        <p>You grant True Wheel a perpetual, non-exclusive, transferable, worldwide, irrevocable, royalty-free right to exercise publicity, database, trademark and copyright rights, including the right to reproduce, modify, adapt, publish and display on the Site and App and App on the site and Apps of our partners and affiliated companies, any content you may provide to True Wheel in connection with your use of True Wheel and its Services. You agree that True Wheel shall be permitted to use your name or user ID, home city and other ancillary information (for example, the number of years you have been a True Wheel user) in connection with the content in conjunction with True Wheel’s marketing, promotion and publicity efforts in any media known now or in the future.</p>

        <h3>Indemnity</h3>
        <p>You agree to indemnify and hold True Wheel and (if applicable) any parent, subsidiaries, affiliates, officers, directors, attorneys, agents and employees, harmless against any claim or demand and all liabilities, costs and expenses (including reasonable attorneys’ fees) incurred by True Wheel and (if applicable) any parents, subsidiaries, affiliates, officers, directors, agents, attorneys and employees that arise out of any claim asserted by a third party that involves, relates to or concerns any of your actions or omissions on this Site and App, including but not limited to your breach of this Agreement, or your violation of any law or the rights of a third party.</p>

        <h3>Exceptions</h3>
        <p>The above policies may be superseded by requirements or obligations imposed by statute, regulation, or legal process. If you have any questions or concerns regarding our usage agreement, please email us at Info@TrueWheel.in</p>







        <p><b>Regards,</b></p>
        <p style="font-style:italic;">Team Truewheels</p>

    </div>


