

.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.neon-content-block {
    padding: 90px 0;
}
.neon-btn {
    background-color: #3a7cec;
    border: 1px solid #3a7cec;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 11px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .35s;
}
.neon-btn:hover {
    background: #444 none repeat scroll 0 0;
    border: 1px solid #444;
    color: #fff;
    text-decoration: none;
}
.neon-section-title {
    margin-bottom: 90px;
    text-align: center;
}
.neon-section-title h2 {
    margin: 0 0 5px;
    text-transform: uppercase;
}
.section-underline {
    background-color: #3a7cec;
    height: 3px;
    left: 50%;
    margin-left: -8px;
    position: absolute;
    top: 50px;
    width: 16px;
}
.section-underline::after {
    background: #999 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: -30px;
    position: absolute;
    width: 25px;
}
.section-underline::before {
    background: #999 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    position: absolute;
    right: -30px;
    width: 25px;
}
.section-gray {
    background-color: #f4f4f4;
}


/*---
* 2. Backgrounds Css
*=============================*/
.slider-bg {
    background-image: url(assets/img/slider-bg-1.jpg)
}
.author-photo {
    background-image: url(assets/img/about-bg.jpg)
}
.footer-bg {
    background-image: url(assets/img/footer-bg-1.jpg)
}


/*---
* 3. Preloader Css
*=============================*/
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
.neon-site-preloader-wrap {
    background: #f4f4f4 none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
}
.neon-site-preloader-wrap .spinner {
    left: 50%;
    margin: -20px 0 0 -25px;
    position: absolute;
    top: 50%;
}
.neon-site-preloader-wrap .spinner .rect1,
.neon-site-preloader-wrap .spinner .rect2,
.neon-site-preloader-wrap .spinner .rect3,
.neon-site-preloader-wrap .spinner .rect4,
.neon-site-preloader-wrap .spinner .rect5{
    background-color: #3A7CEC;
}


/*---
* 4. Header area Css
*=============================*/
.header-area {
    height: 100%;
    position: relative;
    z-index: 9;
}


/*---
* 5. Header top area Css
*=============================*/
.header-top-area {
    background-color: #3a7cec;
    color: #f4f4f4;
    padding: 2px 0;
    font-size: 13px;
}
.header-top-left p {
    display: inline-block;
    margin: 0 25px 0 0;
}
.header-top-social a i.fa {
    color: #f4f4f4;
    margin-left: 10px;
    transition: .35s;
}
.header-top-social a:hover i.fa {
    color: #000;
    opacity: 0.5;
}


/*---
* 6. Main menu area Css
*=============================*/
.mainmenu-area {
    background: #fff none repeat scroll 0 0;
    z-index: 999;
    width: 100%;
     box-shadow: 0 5px 5px -5px #000;
}
.is-sticky .mainmenu-area {
   
    box-shadow: 0 5px 5px -5px #000;
}
.mainmenu-area .navbar-header a {
    color: #3a7cec;
    height: auto;
}
.mainmenu-area .navbar-header .navbar-brand {
	
	display: inline-block;
	
	line-height: 22px;
	
	
}
.mainmenu-area ul.nav.navbar-nav li {
    margin-left: 10px;
    margin-top:30px;
}
.mainmenu-area ul.nav.navbar-nav li a {
    color: #222;
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 22px 0;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    transition: .35s;
}
.mainmenu-area ul.nav.navbar-nav li a:hover, .mainmenu-area ul.nav.navbar-nav li a:focus {
    color: #7BB52D;
    background: none;
}
.mainmenu-area ul.nav.navbar-nav li.active a {
    color: #7BB52D;
}
.mainmenu-area ul.nav.navbar-nav li a::after {
    background: #7BB52D none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -5px;
    opacity: 0;
    position: absolute;
    transition: .55s;
    width: 10px;
}
.mainmenu-area ul.nav.navbar-nav li a:hover::after {
    left: 0;
    margin-left: 0px;
    opacity: 1;
    width: 100%;    
}
.mainmenu-area ul.nav.navbar-nav li.active a::after {
    left: 0;
    margin-left: 0px;
    opacity: 1;
    width: 100%;    
}








/*---
* 9. Skill area Css
*=============================*/
.single-skill {
    color: #333;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}
.single-skill .progress {
    background: #ccc none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: 0 0 0;
    height: 10px;
    overflow: visible;
    position: relative;
}
.skill-value {
    color: #333;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: -28px;
}
.single-skill p {
    margin: 0 0 5px;
}
.single-skill .progress-bar {
    background: #3A7CEC none repeat scroll 0 0;
}





