﻿@model TrueWheels.Web.Models.OTPViewModel
@{
    ViewBag.Title = "VerifyOTP";
    @Scripts.Render("~/bundles/otpjs")
    @*<script src="~/Content/js/vendor/jquery-1.10.2.min.js"></script>*@
    }
@*<script type="text/javascript">
        function SendOTPMessage() {   
            alert("API will send message at this time");
        } 
</script>*@

<script type="text/javascript">
    jQuery(function () {
        jQuery('#btn').click();
    });

</script>

@*<script type="text/javascript">
    $(document).ready(function () {
       // if(Session["confirmed"]==null)
        $("#modal").show();
    });
</script>*@
@{
    if (TempData["ProfileVerified"] != null)
    {
        <script type="text/javascript">
            alert(@Html.Raw(Json.Encode(TempData["ProfileVerified"])));
        </script>
    }
}




<br />
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-7 col-sm-offset-2 col-md-offset-3 otpback">
            <div class="module-title">
                <h2>Mobile Number Verification </h2>
            </div>


                <!-- Large modal -->
                @*<input style="margin-bottom: 15px;" onchange="SendOTPMessage();" type="text" placeholder="Enter 6 digit OTP" id="Test" maxlength="6" name="Test">*@
                <div style="padding: 15px;">
                    <form method="post" action="VerifyOTP" accept-charset="UTF-8">
                        <p class="text-danger">
                         @if (null != TempData["OTPErrorMessage"])
                         { 
                             @TempData["OTPErrorMessage"];
                         }
                            @ViewBag.Error
                        </p>
                        <div class="row">
                            <div class="col-md-5"><input style="margin-bottom: 15px;" type="text" class="form-control input-lg" placeholder="Enter 6 digit OTP" id="OTP" maxlength="6" name="OTP"></div>
                            <div class="col-md-7" style="padding-top:3px; ">
                                <input class="btn-blue3" type="submit" id="Verify" value="Confirm" formaction="VerifyOTP" formmethod="post">

                                <label class="sentlbl">or</label>
                                <input class="btn-blue3" type="submit" id="ResendOTP" value="Resend OTP" formaction="ResendOTP" formmethod="post">
                            </div>


                        </div>






                    </form>
                </div>

            </div>
        <br />
        <br />
        <button type="button" id="btn" class="btn btn-primary" data-toggle="modal" style="visibility:hidden" data-target=".bs-example-modal-lg">Windows 8 modal - Click to View</button>

        @*<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">

                        <h2>OTP Verification!</h2>
                        <h4>Verify OTP Sent on your Phone Number.</h4>
                        <p class="text-danger">
                            @ViewBag.Error
                        </p>
                        <div style="padding: 15px; padding-bottom: 20px;">
                            <form method="post" action="VerifyOTP" accept-charset="UTF-8">
                                <div class="row">
                                    <div class="col-md-5">
                                        <input type="text" class="form-control input-lg" placeholder="Enter 6 digit OTP" id="OTP" pattern="{3}[0-9]{4}" maxlength="6" name="OTP">
                                    </div>
                                    <div class="col-md-7" style="padding-top:3px;">
                                        <input class="btn-blue3" type="submit" id="Verify" value="Confirm" formaction="VerifyOTP" formmethod="post" />
                                        <label class="sentlbl">or</label>
                                        <input class="btn-blue3" type="submit" id="ResendOTP" value="Resend OTP" formaction="ResendOTP" formmethod="post" />
                                    </div>
                                </div>
</form>
                            </div>
                        </div>
                </div>
            </div>
        </div>*@
    </div>  


</div>

