﻿    
@Styles.Render("~/Content/css/Homestyle")
<script src="~/Content/js/paccordion.js"></script>
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Driving Rules</title>
</head>

<div class="container" style="margin-bottom:50px; margin-top:30px;">
    <div class="sec-title text-center wow animated fadeInDown">
        <h2>Driving Rules</h2>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div class="accordion-wrapper">
                        <div class="ac-pane">
                            
                                <a href="#" class="ac-title" data-accordion="true">
                                    <span>New Delhi</span>
                                    <i class="fa"></i>
                                </a>
                                <div class="ac-content">
                                    <a href="http://delhigovt.nic.in/newdelhi/dept/transport/tr1a.asp" target="_blank">Click to see Driving Rules for Delhi</a>
                                </div>
                            <a href="#" class="ac-title" data-accordion="true">
                                <span>Uttar Pradesh</span>
                                <i class="fa"></i>
                            </a>
                            <div class="ac-content">
                                <a href="http://www.uptransport.org/drivingtips.html" target="_blank">Click to see Driving Rules for Uttar Pradesh</a>
                            </div>
                            <a href="#" class="ac-title" data-accordion="true">
                                <span>Haryana</span>
                                <i class="fa"></i>
                            </a>
                            <div class="ac-content">
                                <a href="http://traffic.haryanapolice.gov.in/rules.html" target="_blank">Click to see Driving Rules for Haryana</a>
                            </div>
                        </div>
                       
                    </div>
                </div>

            </div>
        </div>
    </section>
    </div>
