﻿@model List<TrueWheels.BEL.FAQBEL>

@{
    //ViewBag.Title = "FAQ";
    //Layout = "~/Views/Shared/_LayoutFAQ.cshtml";
    ViewBag.Title = "FAQ";

}
@Styles.Render("~/Content/css/Homestyle")
<script src="~/Content/js/paccordion.js"></script>

<div class="container" style="margin-bottom:50px; margin-top:30px;">

    <div class="sec-title text-center wow animated fadeInDown">
        <h2>FAQ</h2>

    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div class="accordion-wrapper">
@*FAQ Change by Amit*@
                        <div class="ac-pane">
@foreach (var item in Model)
{
                            <a href="#" class="ac-title" data-accordion="true">
                                <span>Question : @item.QuestionDesc</span>
                                <i class="fa"></i>
                            </a>
                            <div class="ac-content">
                                Answer : @item.AnswerDesc
                            </div>
}
                        </div>
@*Changes Completed*@

                        @*Commented Shweta's Code not required*@
                        
                        @*<div class="ac-pane">
                            <a href="#" class="ac-title" data-accordion="true">
                                <span>Section two</span>
                                <i class="fa"></i>
                            </a>
                            <div class="ac-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ullam architecto earum reprehenderit dolore iusto
                                labore sed, sunt, quasi soluta assumenda, a quam aspernatur repudiandae enim. Architecto, assumenda tempore vitae!
                            </div>
                        </div>
                        <div class="ac-pane">
                            <a href="#" class="ac-title" data-accordion="true">
                                <span>Section three</span>
                                <i class="fa"></i>
                            </a>
                            <div class="ac-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ullam architecto earum reprehenderit dolore iusto
                                labore sed, sunt, quasi soluta assumenda, a quam aspernatur repudiandae enim. Architecto, assumenda tempore vitae!
                            </div>
                        </div>
                        <div class="ac-pane">
                            <a href="#" class="ac-title" data-accordion="true">
                                <span>Section four</span>
                                <i class="fa"></i>
                            </a>
                            <div class="ac-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ullam architecto earum reprehenderit dolore iusto
                                labore sed, sunt, quasi soluta assumenda, a quam aspernatur repudiandae enim. Architecto, assumenda tempore vitae!
                            </div>
                        </div>*@
                    </div>
                </div>


            </div>
        </div>
    </section>
    <div class="row-fluid"></div>
    @*<div class="col-md-4">
                <div class="list-group  " id="markers_info">
                    @foreach (var item in Model)
                {
                <div>Question : @item.QuestionDesc</div>
                <div>Answer : @item.AnswerDesc</div>
                }

            </div>
        </div>*@

</div>




