﻿@model TrueWheels.Web.Models.DashBaordViewModal
@{
    ViewBag.Title = "Home Page";
    Html.EnableClientValidation(true);
}

@Styles.Render("~/Content/bundles")
@Styles.Render("~/Content/css/Homestyle")
@Scripts.Render("~/bundles/ScriptsJQuery")
@Scripts.Render("~/bundles/HomeIndexjs")
@*<link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />*@
@*<link href="~/Content/css/main.css" rel="stylesheet" />*@
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIhFyFQitYKGUNnGFoZvmnHaWqhL9u7Wg&libraries=places"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

@*<script src="~/Scripts/jquery-1.8.2.min.js"></script>*@
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script type="text/javascript">
    var center = new google.maps.LatLng(28.469826, 77.046107);
    var circle = new google.maps.Circle({
        center: center,
        radius: 100000
    });

    google.maps.event.addDomListener(window, 'load', function () {
        var options = {
            types: ['geocode'],//types: ['(cities)'], //cities
            componentRestrictions: { country: ["in"] }
        }
        var places = new google.maps.places.Autocomplete(document.getElementById('txtPlaces'), options);
        places.setBounds(circle.getBounds());
        google.maps.event.addListener(places, 'place_changed', function () {
            var place = places.getPlace();
            var address = place.formatted_address;
            var latitude = place.geometry.location.A;
            var longitude = place.geometry.location.F;
            var mesg = "Address: " + address;
            mesg += "\nLatitude: " + latitude;
            mesg += "\nLongitude: " + longitude;

        });
    });
</script>



<script>
    $(document).ready(function () {
        $("#datepicker").datepicker({
            minDate: 0
        });


        /*$("#idHowitWorks").click(function () {
            $('html,body').animate({
                scrollTop: $("#divHowitworks").offset().top
            },
                'slow');
        });

        $("#idContactUs").click(function () {
            $('html,body').animate({
                scrollTop: $("#contact").offset().top
            },
                'slow');
        });


        $("#idAboutUS").click(function () {
            $('html,body').animate({
                scrollTop: $("#about").offset().top
            },
                'slow');
        });*/
    });
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $("#textSearch").autocomplete({
                source: '@Url.Action("GetLocations")',
                autoFill: true

            });
        });
    });
</script>

<script>
    $(document).ready(function () {
        $(function () {
            $("#text").autocomplete({
                source: '@Url.Action("GetLocations")',
                autoFill: true
            });
        });
    });
</script>

<script type="text/javascript">

    function OnSuccess(response) {
        if (response != false) {
            $("#successMessage").fadeIn(3000);
            var errName = $("#successMessage"); //Element selector
            var message = ("<b>Saved successfully. Your ticket reference number is {0}</b>");
            errName.html(message.replace('{0}', response));
            $('#idName').val('');
            $('#idEmail').val('');
            $('#idSubject').val('');
            $('#idMessage').val('');
            $('#successMessage').delay(10000).fadeOut('slow');
        }
        else {
            var errName = $("#successMessage"); //Element selector
            errName.html("An error has occured.")
        }
    }

    function OnFailure(response) {
        var errName = $("#successMessage"); //Element selector
        errName.html("Something went wrong.");
    }

</script>

<div class="slider-area" id="home1" style="overflow:hidden">
    <div class="col-sm-12 col-sm-offset-0">
        <div class="slider">
            <section class="main-slider">

                <div class="tp-banner-container">
                    <div class="tp-banner">
                        <ul>

                            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="../Content/img/slider-image-1.jpg" data-saveperformance="off" data-title="">
                                <img src="~/Content/img/slider-image-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">




                            </li>

                            <li data-transition="slideup" data-slotamount="1" data-masterspeed="1000" data-thumb="./Content/img/slider-image-2.jpg" data-saveperformance="off" data-title="">
                                <img src="~/Content/img/slider-image-2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">




                            </li>

                            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="../Content/img/slider-image-3.jpg" data-saveperformance="off" data-title="">
                                <img src="~/Content/img/slider-image-3.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">



                            </li>

                        </ul>

                        <div class="tp-bannertimer"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="container slider-content">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8  col-sm-offset-2 col-sm-offset-2 col-sm-offset-2 middle-section1">
                <h2 class="yellow-text">Parking Search Just Got So Easy</h2>
                <p class="yellow-text">Find Parking space where you want</p>
                <div class="search-form wow pulse" data-wow-delay="0.8s">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post,
                        new { enctype = "multipart/form-data", @class = "form-inline" }))
                    {

                        @Html.AntiForgeryToken()
                        @Html.TextBox("destination", null, new { id = "txtPlaces", @class = "form-control", @placeholder = "Where do you want park", @tabindex = "1" })
                        <div class="form-group">

                            @*new { @class = "form-control", @placeholder = "Where do you want park", @tabindex = "1", @type = "text" }*@
                            @*<input type="text" class="form-control" name="destination" placeholder="Where do you want park">*@
                        </div>
                        @*<div class="form-group">
                                <select name="" id="" class="form-control">
                                    <option>Select Your City</option>
                                    <option selected>New Delhi</option>
                                    <option>Old Delhi</option>
                                    <option>Gurgaon</option>
                                    <option>Faridabad</option>
                                </select>
                            </div>*@

                        @*<div class="form-group">
                            <input type="text" id="datepicker" class="form-control" name="DateTimeFrom" placeholder="From DateTime">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control hidden-xm hidden-sm hidden-lg hidden-md" name="ToTimeFrom" placeholder="To DateTime">
                        </div>*@

                        <input type="submit" class="btn btn-border btn-effect" value="Search" onclick="location.href= '@Url.Action("Index", "Home")'">

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<section id="about" class="about-area section-big">
    <div class="container">
        <div class="row">
            <div class="col-md-4 wow animated fadeInLeft">
                <div class="recent-works">
                    <h3>Our Vision</h3>
                    @*<div id="works">*@
                    <div>
                        <div class="work-item">
                            <p style="text-align:justify !important">
                                Our vision is to provide a digital platform to resolve all the problems of
                                car users using technological solutions and finding ways to deal with the problems
                                which will be faced by the world in near future because of increasing automobiles on roads.
                            </p>
                        </div>
                        <div class="work-item">
                            <p style="text-align:justify !important">
                                To be the preferred solution provider for all kinds of service required for automobile industry
                                through technology making the services required for this industry better
                            </p>
                        </div>
                        <div class="work-item">
                            <p style="text-align:justify !important">
                                We strive to serve our customers with the best possible technological solutions
                                for their car related problems in a best possible manner .
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
                <div class="welcome-block">

                    <h3>Welcome To Our Site</h3>
                    <div class="message-body">

                        <img src="~/Content/img/wall6.jpg" class="pull-left" alt="">
                        <p style="text-align:justify !important">
                            True Wheels are set up by a bunch of young, enthusiastic IT graduates
                            based in the capital city New Delhi. True Wheels up with solution to
                            get a vacant parking for you near to your house or office. True Wheels
                            are the smart solutins for navigating the user to its closest location.
                        </p>
                        <p style="text-align:justify !important">
                            Life has become faster 24 hours hae become shorter then who wants to waste
                            their time for searching a parking space. True wheels gives you the freedom to
                            enjoy the party for little longer time, to spend little more time with your
                            friends or when you had arrived office at the last moment. we help you to enjoy
                            the moment instead of thinking of parking spaces.
                        </p>
                        <p style="text-align:justify !important">
                            Along with finding a parking space for you, True Wheels are working on many
                            associated problems like reminding you your next car servicing and etc.
                        </p>

                    </div>
                    @*<a href="#" class=" btn-border btn-effect pull-right">Read More</a>*@
                </div>
            </div>

        </div>
    </div>
</section>


<section id="divHowitworks" class="content-area overlay-bot">
    <div class="container">
        <div class="sec-title text-center wow animated fadeInDown">
            <h2>How It works</h2>
            @*<p>If you happen to be commuting from point A to point B for work, going on vacation or
                   just planning a day trip: find your perfect parking space on TrueWheels. Maybe you could
                   use a rental bike to get from the parking space to your appointment. Or you are looking to have
                   some coffee first. You might need a dog sitter, or are looking for flexibility when coming and going
                during your vacation. All can be arranged through True Wheels.</p>*@
        </div>
        <div class="text-center wow zoomInDown" data-wow-delay="1s">

            @*<h2>How It work</h2>
                <hr>*@
            @*<p>
                    If you happen to be commuting from point A to point B for work, going on vacation or
                    just planning a day trip: find your perfect parking space on TrueWheels. Maybe you could
                    use a rental bike to get from the parking space to your appointment. Or you are looking to have
                    some coffee first. You might need a dog sitter, or are looking for flexibility when coming and going during your vacation. All can be arranged through True Wheels.
                </p>*@
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">

            </div>
        </div>
        <div class="row">
            <div id="">
                <div id="how-container">
                    <div class="col-sm-12 col-md-4 wow fadeInUp" data-wow-delay="0.8s">

                        <div class="circle">
                            <h4>Search</h4>
                            <p>
                                Wherever. Whenever.
                                <br>
                                search the parking
                            </p>

                            <div class="icon1">

                                <img src="~/Content/img/icon-glass-large.png" alt="Find cheap parking" height="75" width="100">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-4 wow fadeInUp" data-wow-delay="0.8s">
                        <div class="circle">
                            <h4>Find</h4>
                            <p> Just pick the parking space that suits you best. </p>

                            <div class="icon1">
                                <img src="~/Content/img/icon-calendar.png" alt="Parking peace of mind" height="75" width="100">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 wow fadeInUp" data-wow-delay="0.8s">
                        <div class="circle">
                            <h4>Park</h4>
                            <p> We navigate you to Park your vehicle. No more problems and parking nightmares. </p>
                            <div class="icon">
                                <img src="~/Content/img/icon-car.png" alt="" height="75" width="100">
                            </div>
                        </div>
                    </div>


                    <div class="clear"></div>
                </div>
            </div>

        </div>
    </div>

    <div id="divAboutUS" style="background-color:#f9f9f9;">
        @*<div class="row job-posting wow fadeInUp" data-wow-delay="1s">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#job-seekers" aria-controls="home" role="tab" data-toggle="tab">Job Seekers</a></li>
                        <li role="presentation"><a href="#employeers" aria-controls="profile" role="tab" data-toggle="tab">Employeers</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="job-seekers">
                            <ul class="list-inline job-seeker">
                                <li>
                                    <a href="">
                                        <img src="img/team-small-5.jpg" alt="">
                                        <div class="overlay"><h3>Ohidul Islam</h3><p>Web Designer</p></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="img/team-small-6.jpg" alt="">
                                        <div class="overlay"><h3>Mohidul Islam</h3><p>CEO</p></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="img/team-small-3.jpg" alt="">
                                        <div class="overlay"><h3>Unknown girl</h3><p>Graphic Designer</p></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="img/team-small-4.jpg" alt="">
                                        <div class="overlay"><h3>Eftakher Alam</h3><p>Graphic Designer</p></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="img/team-small-2.jpg" alt="">
                                        <div class="overlay"><h3>Mark Otto</h3><p>Founder</p></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="img/team-small-1.jpg" alt="">
                                        <div class="overlay"><h3>Rasel Ahmed</h3><p>Web Developer</p></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="employeers">
                            <ul class="list-inline">
                                <li>
                                    <a href="">
                                        <img src="img/employee4.png" alt="">
                                        <div class="overlay"><h3>Instagram</h3></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="img/employee5.png" alt="">
                                        <div class="overlay"><h3>Microsoft</h3></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="img/employee6.png" alt="">
                                        <div class="overlay"><h3>Dribbble</h3></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="img/employee1.png" alt="">
                                        <div class="overlay"><h3>Beats Music</h3></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="img/employee2.png" alt="">
                                        <div class="overlay"><h3>Facebook</h3></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="img/employee3.png" alt="">
                                        <div class="overlay"><h3>Twitter</h3></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>*@
        @*<div class="container ">

                <div class="col-sm-12 overlay-bot1">
                    <div class="page-title text-center">

                        <h1 style="text-align:center">About Us</h1>
                        <hr />

                    </div>
                    <div class="page-content">

                        <div class="sfContentBlock">
                            <h2>About CampusParc</h2>
                            <p>CampusParc is responsible for the operation of The Ohio State University’s parking system, including management of the permit system, parking enforcement, customer service, motorist assistance, event parking management, and parking facility maintenance, including major renovations. The parking system, one of the largest of its kind, is comprised of 5 million square feet and 13,000 spaces within 16 garages, and 7 million square feet and 23,591 spaces within 196 surface lots, for a total of 36,591 system spaces.&nbsp;</p> <p>CampusParc operates the parking system through a 50-year lease, known as a parking concession, which began in September 2012. As a result of the concession, the university received a one-time, up-front payment of $483 million that is expected to provide $3.1 billion in investment earnings for academic initiatives. In the first 24 months of the concession, the initial $483 million created $112 million in interest, funding teaching, learning, research, transportation, and sustainability.&nbsp; Click&nbsp;<a href="/home/about-us/corporate-office/concession-101">here</a>&nbsp;to learn more about the concession agreement between CampusParc and Ohio State.</p> <div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>*@

    </div>






    <script src="~/Scripts/revolution.min.js"></script>
    <script src="~/Scripts/script.js"></script>
</section>
<section id="testimonials" class="parallax">
    <div class="overlay1">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center wow animated fadeInDown animated animated" style="visibility: visible;">
                    <h2>What people say</h2>
                </div>

                <div id="testimonial" class=" wow animated fadeInUp">
                    <div class="testimonial-item text-center">
                        @*<img src="img/member-1.jpg" alt="Our Clients">*@
                        <div class="clearfix">
                            <span>Dhanajay Rao (TATA Cosultancy Services)</span>
                            <p>That was an amazing experience to use Truehwheels…No more parking problems..Cheers to Truewheels…keep it up…</p>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        @*<img src="img/member-1.jpg" alt="Our Clients">*@
                        <div class="clearfix">
                            <span>Sumit Srivastava</span>
                            <p>	Luv u truewheels…..Thanks for taking care of my car…..</p>
                        </div>
                    </div>
                    <div class="testimonial-item text-center">
                        @*<img src="img/member-1.jpg" alt="Our Clients">*@
                        <div class="clearfix">
                            <span>Anupama</span>
                            <p>Truewheels is  a great step towards the solution of parking problems….Thanks Truewheels</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">

            <div class="sec-title text-center wow animated fadeInDown">
                <h2>Contact Us</h2>
                <p>Leave a Message</p>
            </div>


            <div id="successMessage"> </div>
            <div class="col-md-7 contact-form wow animated fadeInLeft">

                @using (Ajax.BeginForm("SaveUserContactUs", null, null, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { @name = "SubmitContactUs" }))
                {
                    @Html.ValidationSummary(true)
                    @*<form action="#" method="post">*@
                    <div class="input-field">
                        @*<input type="text" name="name" id="idName" class="form-control" placeholder="Your Name...">*@
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Your Name...", id = "idName" })
                        @Html.ValidationMessageFor(x => x.Name)
                        <div id="ErrorName"></div>
                    </div>
                    <div class="input-field">
                        @*<input type="email" name="email" id="idEmail" class="form-control" placeholder="Your Email...">*@
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Your Email...", id = "idEmail" })
                        @Html.ValidationMessageFor(x => x.Email)
                        <div id="ErrorEmail"></div>
                    </div>
                    <div class="input-field">
                        @*<input type="text" name="subject" id="idSubject" class="form-control" placeholder="Subject...">*@
                        @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", placeholder = "Your Subject...", id = "idSubject" })
                        @Html.ValidationMessageFor(x => x.Subject)
                        <div id="ErrorSubject"></div>
                    </div>
                    <div class="input-field">
                        @*<textarea name="message" class="form-control" id="idMessage" placeholder="Messages..."></textarea>*@
                        @Html.TextAreaFor(x => x.Message, new { @class = "form-control", placeholder = "Your Message...", id = "idMessage" })
                        @Html.ValidationMessageFor(x => x.Message)
                        <div id="ErrorMessage"></div>
                    </div>
                    <input type="submit" value="Submit" id="submit" class="btn btn-blue btn-effect">
                }
                @*</form>*@
            </div>


            <div class="col-md-5 wow animated fadeInRight">
                <address class="contact-details">
                    <h3>Get In Touch</h3>

                    <p><i class="fa fa-map-marker"></i>B/206,Duggal Colony, New Dehi,India</p><br>
                    @*<p><i class="fa fa-phone"></i>Phone: (415) 124-5678 </p>*@
                    <p><i class="fa fa-envelope"></i>                        truewheels.2016@gmail.com </p>
                </address>
            </div>

        </div>
    </div>
</section>
<section id="social" class="parallax">
    <div class="overlay1">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center white wow animated fadeInDown">
                    <h2>FOLLOW US</h2>
                    <p>Beautifully simple follow buttons to help you get followers on</p>
                </div>

                <ul class="social-button">
                    @*<li class="wow animated zoomIn"><a href="#"><i class="fa fa fa-facebook fa-2x"></i></a></li>*@
                    <li><iframe src="https://www.facebook.com/plugins/follow?href=https://www.facebook.com/True-Wheels-562259090637942/&amp;layout=standard&amp;show_faces=true&amp;colorscheme=light&amp;width=450&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:20px;" allowtransparency="true"></iframe></li>
                    @*<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>*@
                    <li class="wow animated zoomIn"> <a href="https://twitter.com/Truewheels1" class="twitter-follow-button" data-show-count="true">Follow @@Truewheels1</a></li>
                    @*<li               class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>*@
                </ul>

            </div>
        </div>
    </div>

</section>






