﻿@model List<TrueWheels.BEL.AvailableParkingAreaResult>
@Scripts.Render("~/bundles/Commonjs")
@*<script src="~/Content/js/vendor/jquery-1.10.2.min.js"></script>*@
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    #markers_info .marker {
        height: 40px;
        cursor: pointer;
        padding-left:40px;
        padding-right:20px;
    }


    .labels {
        color: white;
        background-color: red;
        font-family: "Lucida Grande", "Arial", sans-serif;
        font-size: 10px;
        text-align: center;
        width: 30px;
        white-space: nowrap;
    }
</style>
<script type="text/javascript">
    //$.fn.stars = function () {
    //    return $(this).each(function () {
    //        // Get the value
    //        var val = parseFloat($(this).html());
    //        // Make sure that the value is in 0 - 5 range, multiply to get width
    //        var size = Math.max(0, (Math.min(5, val))) * 16;
    //        // Create stars holder
    //        var $span = $('<span />').width(size);
    //        // Replace the numerical value with stars
    //        $(this).html($span);
    //    });
    //}
    //$(function () {
    //    $('span.stars').stars();
    //});
</script>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/star-rating.min.css" rel="stylesheet" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/Content/js/star-rating.min.js"></script>
<div class="dropdown">
    <button class="btn-blue3 dropdown-toggle" type="button" data-toggle="dropdown">
        Sort By
        <span class="caret"></span>
    </button>
    <ul id="SortOrder" class="dropdown-menu">
        <li><a href="#" onclick="load('Distance')">Distance</a></li>
        <li><a href="#" onclick="load('Basic Charge')">Basic Charge</a></li>
        <li><a href="#" onclick="load('Rating')">Rating</a></li>
    </ul>
</div>
    <div class="col-lg-3" style="overflow:scroll ;height:200vh; padding-left:0px !important; padding-right:0px !important">
        

        <div class="list-group  " id="markers_info">
            @{
                var i = 1;
                foreach (var item in Model)
                {
                    
                    <div style="padding-left:20px;">
                       
                            <span class="badge">@i</span>
                        <a href="#" class="list-group-item marker" style="height:auto; color:#000" onclick='showMap(@item.lattitude,@item.longitude,"@item.parking_address",@item.Parking_id)'>
                            <span class="badge1" style="float:right !important; font-weight:bold;color:#06653A">@item.BasicCharge</span>

                            <span>@item.parking_address</span>
                            <br />
                            <span>@item.BasicCharge</span>
                            @*<div class="c-srp-listing__rating">
                <span>
                    <span class="stars1 rating-meter">
                        <span class="stars_empty"></span>
                        <span class="stars_full" style="width: 94.4%" title=""></span>
                    </span>
                    (1948)
                </span>
            </div>*@
                        </a>
                        <div class="row">
                            <div class="col-lg-12">
                                <input id="input-21a+@item.Parking_id" value="@item.Rating" type="number" class="rating"  min=0 max=5 step=1 data-size="s" readonly="readonly">
                            </div>
                        </div>  
                                <span>@item.Distance</span>
                                @*@item.parking_address<br />*@
                                @*@item.BasicCharge<br />*@
                                @*@item.Rating<br />
                                @item.Distance<br />*@
                                @*<span class="stars">@item.Rating</span>*@
                            
                      
                    </div>

                    i = i + 1;

                }
            }
        </div>
    </div>

@*<script type="text/javascript">
    $(document).ready(function () {

        $('input[id^="input-21a"]').on('rating.change', function (event, value, caption) {
            var parkingId = event.currentTarget.id.split('+')[1]
            debugger;
            $.ajax({
                url: '@Url.Action("Rating", "ParkingArea")',
                dataType: 'html',
                data: { 'para': value, 'parkingId': parkingId },
                type: 'POST',
                success: function (result) {
                    //$('#idAvailableParking').html(result);
                },
                error: function (xhr) {
                    alert(xhr.statusText);
                }
            });

        });
    });

</script>*@


