﻿@model IEnumerable<TrueWheels.BEL.UserRating>

@{
    ViewBag.Title = "LocateParkingArea";
    <style>
       
        #map_canvas {
            height: 300px;
            width: 100%;
          
            padding: 0px;
            border:5px solid #f0f0f0;
            box-shadow: inset 0px 0px 10px 0px #ABABAB,5px 5px 5px 1px #DDDDDD;
-webkit-box-shadow: inset 0px 0px 10px 0px #ABABAB,5px 5px 5px 1px #DDDDDD;
-moz-box-shadow: inset 0px 0px 10px 0px #ABABAB,5px 5px 5px 1px #DDDDDD;
-o-box-shadow: inset 0px 0px 10px 0px #ABABAB,5px 5px 5px 1px #DDDDDD;
        }
    </style>
  

    @Styles.Render("~/Content/css/Locatestyle")
@Scripts.Render("~/bundles/Locatejs")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6v5-2uaq_wusHDktM9ILcqIrlPtnZgEk&libraries=places"></script>
    <script src="~/Content/js/star-rating.min.js"></script>
    <link href="~/Content/css/star-rating.min.css" rel="stylesheet" />
    <script type="text/javascript">

        var map;
        var servicec;

        function GetParameterValues(param) {
            var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < url.length; i++) {
                var urlparam = url[i].split('=');
                if (urlparam[0] == param) {
                    return urlparam[1].replace(/\%20/g, ' ');
                }
            }
        }

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        function initMap(crd) {
            //alert("hi");
            //alert(crd.latitude);
            var currentLatt;
            var currentLong;
            var latt = getParameterByName('lat') * 1.0;
            var long = getParameterByName('long') * 1.0;
            //alert(currentLatt);
            //alert(Number(currentLatt);

            var source = new google.maps.LatLng(crd.latitude, crd.longitude);
            var destination = new google.maps.LatLng(latt, long);

            var parkingName = GetParameterValues('address');

            function GetParameterValues(param) {
                var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < url.length; i++) {
                    var urlparam = url[i].split('=');
                    if (urlparam[0] == param) {
                        return urlparam[1].replace(/\%20/g, ' ');
                    }
                }
            }

            map = new google.maps.Map(document.getElementById('map_canvas'), {
                center: destination,
                scrollwheel: true,
                zoom: 7
            });


            var directionsDisplay = new google.maps.DirectionsRenderer({
                map: map
            });

            // Set destination, origin and travel mode.
            var request = {
                destination: destination,
                origin: source,
                travelMode: google.maps.TravelMode.DRIVING//
            };

            // Pass the directions request to the directions service.
            var directionsService = new google.maps.DirectionsService();
            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    // Display the route on the map.
                    directionsDisplay.setDirections(response);
                }
            });

            //var request = {
            //    location: destination,
            //    radius: '500',
            //    query: 'restaurant'
            //};

            //service = new google.maps.places.PlacesService(map);
            //service.textSearch(request, callback);
            service = new google.maps.places.PlacesService(map);

            // The idle event is a debounced event, so we can query & listen without
            // throwing too many requests at the server.
            map.addListener('idle', performSearch);

            $('div#ParkingName').html(parkingName);

            directionsDisplay.setMap(map);
            directionsDisplay.setPanel(document.getElementById('right-panel'));

            calculateAndDisplayRoute(directionsService, directionsDisplay);

            function calculateAndDisplayRoute(directionsService, directionsDisplay) {
                var start = source;
                var end = destination;
                directionsService.route({
                    origin: start,
                    destination: end,
                    travelMode: 'DRIVING'
                }, function (response, status) {
                    if (status === 'OK') {
                        directionsDisplay.setDirections(response);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });


            }
            function performSearch() {
                service = new google.maps.places.PlacesService(map);
                var request = {
                    bounds: map.getBounds(),
                    types: ['shopping_mall', 'restaurents'],
                    //keyword:'famous',
                    radius: 10000,
                    openNow: true,

                };
                service.nearbySearch(request, callback);
            }

            function callback(results, status) {
                if (status !== google.maps.places.PlacesServiceStatus.OK) {
                    console.error(status);
                    return;
                }
                var mydiv = document.getElementById("markers_info");
                for (var i = 0, result; result = results[i]; i++) {
                    //addMarker(result);
                    var place = result;
                    service.getDetails(place, function (result1, status) {
                        if (status !== google.maps.places.PlacesServiceStatus.OK) {
                            console.error(status);
                            alert(status);
                            return;
                        }
                        //infoWindow.setContent(result.name);
                        //alert(result1.name);

                        var aTag = document.createElement('a');
                        aTag.setAttribute('href', "#");
                        aTag.setAttribute('class', "list-group-item marker");
                        aTag.innerHTML = result1.name;
                        mydiv.appendChild(aTag);
                    });
                }
            }
        }

        $(document).ready(function () {
            var parkingName = GetParameterValues('parkId');

            $.ajax({
                url: '@Url.Action("GetParkingdetail", "ParkingArea")',
                data: { park_Id: parkingName },
                cache: false,
                type: "Get",
                dataType: "JSON",
                success: function (data) {
                    $('#idDescription').html(data.Description)
                },
                error: function (xhr) {
                    alert(xhr.statusText);
                }
            });
        });
    </script>

}
<br />
<div class="row" style="margin:10px;">
    <div id="ParkingName" style="padding-left:15px;">
        <h4></h4>
    </div>
    </div>
    <div class="row" style="margin:10px;">
        <div class="col-lg-8">

            <div id="map_canvas" style="width: 100%; height: 500px"></div>
            <br />

            <div class="col-lg-12">

                <div class="panel panel-info" style="display:none">
                    <div class="panel-heading">
                        <h3 class="panel-title">Description</h3>
                    </div>
                    @*<div id="idDescription" class="panel-body">*@
                    <div>
                        <div class="user-content">

                            <div itemprop="description" style="padding:20px !important;">
                                <div class="streetview-canvas" style="width:400px; height:250px; float:right; border:1px solid black; margin:0 20px"></div>
                                24 hour underground car park just moments from Tottenham Court Road Station.
                                <br>
                                <br>


                                Customer service assistant on duty 24/7
                                <br>
                                <br>
                                Height restriction to the car park: 1.88m
                                <br>
                                <br>
                                Please note the car park entrance has a number of very tight turns so is not suitable for longer vehicles.
                                <br>
                                <br>
                                Note that we are inside the congestion charging zone and that we also have a lift, so access to the spaces is step free.

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" style="display:none">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Facilities</h3>
                    </div>
                    <div class="panel-body">
                        <div id="tabs" style=" width:450px;  overflow:hidden; height:30px;">
                            <ul>
                                <li><a href="#tabs-1">demo1</a><span class='ui-icon ui-icon-circle-close ui-closable-tab'></span></li>
                                <li><a href="#tabs-2">demo2</a><span class='ui-icon ui-icon-circle-close ui-closable-tab'></span></li>
                                <li><a href="#tabs-3">demo3</a><span class='ui-icon ui-icon-circle-close ui-closable-tab'></span></li>
                                <li><a href="#tabs-4">demo4</a><span class='ui-icon ui-icon-circle-close ui-closable-tab'></span></li>
                                <li><a href="#tabs-5">demo5</a><span class='ui-icon ui-icon-circle-close ui-closable-tab'></span></li>
                                <li><a href="#tabs-6">demo6</a><span class='ui-icon ui-icon-circle-close ui-closable-tab'></span></li>
                                <li><a href="#tabs-7">demo7</a><span class='ui-icon ui-icon-circle-close ui-closable-tab'></span></li>
                            </ul>
                            
                        </div>
                        @*Panel content
                        <p>...</p>*@

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Review & Comments</h3>
                    </div>
                    <div class="panel-body">
                        Enter rating and comments:
                        <span><input id="inputrating" value="" type="number" class="rating" data-symbol="*" min=0 max=5 step=1 data-size="s"></span>
                        @using (Ajax.BeginForm("SaveUserComments", null, null, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { @name = "SubmitUserRating" }))
                        {
                            @Html.TextArea("UserComments", new { style = "width: 200px;", id = "idUserComments" })
                            <br />
                            <input type="submit" value="Save Comments" id="submit" class="btn btn-blue btn-effect">
                        }
                        <ul id="reviews-list" class="feedback" style="overflow-y:scroll;overflow-x:hidden">
                            <li itemprop="reviews" itemscope="" itemtype="">
                                @foreach (var item in Model) 
                                { 
                                <div class="row">
                                    <div class="span1 avatar">
                                        <img src="~/Content/img/square.jpg" alt="" width="50" height="50">

                                    </div>
                                    <div class="span2 ">
                                        <span>
                                            <strong itemprop="author">@item.FirstName  @item.LastName</strong>
                                            <br>
                                            <time itemprop="datePublished" datetime="2016-12-15">@item.DateTime</time>
                                        </span>
                                        <div class="rating">
                                            <div itemprop="reviewRating" itemscope="" itemtype="">
                                                    <span><input id="input-21a+@item.Parking_id" value="@item.Rating" type="number" class="rating" data-symbol="*" min=0 max=5 step=1 data-size="s" readonly="readonly"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review-body span">
                                        <div itemprop="description">
                                            @item.Comments
                                        </div>
                                    </div>
                                </div>
                                }
                            </li>
                        </ul>
                    </div>                    
                </div>
            </div>
            
        </div>


        <div class="col-lg-4">

           
            <div id="right-panel" style="height:200px;overflow-x:hidden;overflow-y:scroll"></div>

            <br />
            <br />
            <h4 style="background-color:#87B836; padding:5px; color:white">Near by parking area</h4>

            <div class="list-group" id="markers_info" style="height:200px;overflow-x:hidden;overflow-y:scroll">

            </div>

        </div>
    </div>
<script>
    $(function () {
        $("#tabs").tabs();
        $(".ui-closable-tab").live("click", function () {
            var tabContainerDiv = $(this).closest(".ui-tabs").attr("id");
            var panelId = $(this).closest("li").remove().attr("aria-controls");
            $("#" + panelId).remove();
            $("#" + tabContainerDiv).tabs("refresh");
            var tabCount = $("#" + tabContainerDiv).find(".ui-closable-tab").length;
            if (tabCount < 1) {
                $("#" + tabContainerDiv).hide();
            }
        });
    });
</script>

    <script type="text/javascript">

        var options = {
            enableHighAccuracy: true,
            timeout: 7000,
            maximumAge: 0
        };
        var crd;
        function success(pos) {
            crd = pos.coords;
            console.log('Your current position is:');
            console.log('Latitude : ' + crd.latitude);
            console.log('Longitude: ' + crd.longitude);
            console.log('More or less ' + crd.accuracy + ' meters.');
            initMap(crd);
        };

        if (navigator.geolocation) {
            console.log('Geolocation is supported!');
        }
        else {
            console.log('Geolocation is not supported for this Browser/OS.');
        }

        function error(err) {
            console.warn('ERROR(' + err.code + '): ' + err.message);
        };
        navigator.geolocation.getCurrentPosition(success, error, options);
    </script>

<script type="text/javascript">
    $(document).ready(function () {

        $('input[id^="inputrating"]').on('rating.change', function (event, value, caption) {
           // var parkingId = event.currentTarget.id.split('+')[1]
            debugger;
            $.ajax({
                url: '@Url.Action("Rating", "ParkingArea")',
                dataType: 'html',
                data: { 'para': value },
                type: 'POST',
                success: function (result) {
                    //$('#idAvailableParking').html(result);
                },
                error: function (xhr) {
                    alert(xhr.statusText);
                }
            });

        });
    });

</script>

<script type="text/javascript">

    function OnSuccess(response) {
        if (response != false) {
            alert("Comment saved successfully.");
        }
        else {
            alert("An error has occured.Please try after sometime.")
        }
    }

    function OnFailure(response) {
        var errName = $("#successMessage"); //Element selector
        errName.html("Something went wrong.");
    }

</script>
